---
layout: none

# fuck it. it's a spreadsheet now
badges:
- url: "fl2/1550792"
  flight: plague
  event: "Plague Profit Squad"
  date: 2015-08-27
  badges:
  - task: treasure
    how: "50,000"
    img: https://i.imgur.com/hgVWUbp.png
    by: "Ghostgirl32#121774"
- url: "fl2/1579258"
  flight: plague
  event: "Plague Profit Squad I"
  date: 2015-09-27
  badges:
  - task: treasure
    how: "100,000"
    img: https://i.imgur.com/tyHdF4J.png
    by: "Ghostgirl32#121774"
- url: "fl2/1598496"
  flight: plague
  event: "Plague Profit Squad II"
  date: 2015-10-24
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/QzBQnFo.png
    by: "Ghostgirl32#121774"
- url: "fl2/1724459"
  flight: plague
  event: "Goals & Incentives: Light vs Plague"
  date: 2016-02-14
  badges:
  - how: "exalted 60 dragons via Zerg&nbsp;Rush"
    img: https://i.imgur.com/WmG6DCM.png
    by: "TheSunTheGodsSaw#35038"
  - task: ex5
    how: "10"
    img: https://i.imgur.com/JWCEPyl.png
  - task: ex8
    how: "25"
    img: https://i.imgur.com/NpvKosE.png
- url: "fl2/1764792"
  flight: plague
  event: "Army of Rot"
  date: 2016-03-06
  badges:
  - task: ex5
    how: "150"
    img: https://i.imgur.com/OXNYs02.png
    by: "TheSunTheGodsSaw#35038"
- url: "fl2/1757387"
  flight: plague
  event: "Plague Profit Squad VI"
  date: 2016-03-12
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/ZEyhJzb.png
    by: "Bioluminous#9267"
- url: "drw/1778080"
  flight: fire
  event: "Fire Dom Public Buy"
  date: 2016-03-12
  badges:
  - task: send
    how: "20"
    img: https://i.imgur.com/cAZDvqW.png
    by: "Hapro#47328"
- url: "fl2/1798667"
  flight: plague
  event: "Plague Profit Squad: Airborne"
  date: 2016-04-03
  badges:
  - task: treasure
    how: "500,000"
    img: https://i.imgur.com/9uHAffj.png
    by: "Bioluminous#9267"
- url: "fl2/1795658"
  flight: plague
  event: "Moneydemic"
  date: 2016-05-03
  badges:
  - how: "~~~"
    img: https://64.media.tumblr.com/26d610c6e3bcf433a9e1c35c1d3313df/tumblr_o2vorcGpWV1uvmfw1o2_r1_75sq.png
    by: "spacegrump#57518"
  - how: "~~~"
    img: https://64.media.tumblr.com/5c74a7bd1e38145162eda105696f2d50/tumblr_o4p4j0fQDP1vpwe7to1_75sq.png
  - how: "~~~"
    img: https://64.media.tumblr.com/0c2fdfc7f6bfc4010d66e7ea274cc07e/tumblr_o4s6zdZMYI1vpwe7to1_75sq.png
  - how: "~~~"
    img: https://i.imgur.com/unbrqMG.png
    by: "jellywolffy#183062"
- url: "fl2/1835829"
  flight: plague
  event: "Coli Scavenger Hunt"
  date: 2016-04-29
  badges:
  - how: "~~~"
    img: https://i.postimg.cc/bwmjF9M0/Compass.gif
    by: "TrippyTrix#190947"
- url: "fl2/1833669"
  flight: plague
  event: "Army of Rot"
  date: 2016-04-30
  badges:
  - task: ex5
    how: "45"
    img: https://i.imgur.com/1JghvL1.png
    by: "KyraG#61693"
- url: "fl2/1819651"
  flight: plague
  event: "Plague Profit Squad VII"
  date: 2016-05-04
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/UOCl28e.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/1845011"
  flight: plague
  event: "Plague Profit Squad VIII"
  date: 2016-05-22
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/8DFCRK4.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/1861736"
  flight: plague
  event: "Goals & Incentives"
  date: 2016-05-29
  badges:
  - task: ex5
    how: "10"
    img: https://i.imgur.com/trvCl6N.png
    by: "KyraG#61693"
  - task: ex8
    how: "50"
    img: https://i.imgur.com/nH2VvhN.png
- url: "fl2/1906036"
  flight: plague
  event: "Army of Rot"
  date: 2016-07-10
  badges:
  - task: ex5
    how: "15"
    img: https://i.imgur.com/8CumRc6.png
    by: "KyraG#61693"
- url: "fl2/1956016"
  flight: plague
  event: "Plague Profit Squad XI"
  date: 2016-09-03
  badges:
  - task: treasure
    how: "500,000"
    img: https://i.imgur.com/kqEkaSP.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/1973675"
  flight: plague
  event: "Plague Profit Squad XI"
  date: 2016-09-26
  badges:
  - task: treasure
    how: "250,000"
    img: https://i.imgur.com/UEOACN8.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/1987799"
  flight: plague
  event: "Army of Rot"
  date: 2016-10-02
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/OCKUK1u.png
    by: "KyraG#61693"
- url: "fl2/2009681"
  flight: plague
  event: "Goals & Incentives: Riot of Rot"
  date: 2016-10-23
  badges:
  - task: ex5
    how: "25"
    img: https://i.imgur.com/b4LG8jn.png
    by: "KyraG#61693"
  - task: ex8
    how: "25"
    img: https://i.imgur.com/8iduxRm.png
- url: "fl2/2003358"
  flight: plague
  event: "Plague Profit Squad: Riot of Rot"
  date: 2016-11-07
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/BbxYU4T.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2054523"
  flight: plague
  event: "Army of Rot"
  date: 2016-12-11
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/39OzXM9.png
    by: "KyraG#61693"
- url: "fl2/2059808"
  flight: plague
  event: "Plague Profit Squad: XIII"
  date: 2017-01-01
  badges:
  - task: treasure
    how: "500,000"
    img: https://i.imgur.com/7HlR1Gm.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2096059"
  flight: plague
  event: "Army of Rot"
  date: 2017-01-28
  badges:
  - task: lvl
    how: "250"
    img: https://i.imgur.com/veD7fZk.png
    by: "KyraG#61693"
- url: "fl2/2087748"
  flight: plague
  event: "Plague Profit Squad: XIV"
  date: 2017-01-29
  badges:
  - task: treasure
    how: "250,000"
    img: https://i.imgur.com/tF5d8BQ.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2105874"
  flight: plague
  event: "Goals & Incentives: Double Dom"
  date: 2017-02-05
  badges:
  - task: ex5
    how: "10"
    img: https://i.imgur.com/6YFAJ7S.png
    by: "KyraG#61693"
  - task: ex8
    how: "25"
    img: https://i.imgur.com/XSNCvkg.png
- url: "fl2/2105773"
  flight: plague
  event: "Double Dom Conquest"
  date: 2017-02-05
  badges:
  - how: "~~~"
    img: https://i.imgur.com/SbF7KkK.png
    by: "KyraG#61693 (color)"
- url: "fl2/2117896"
  flight: plague
  event: "Plague Profit Squad: XV"
  date: 2017-02-26
  badges:
  - task: treasure
    how: "500,000"
    img: https://i.imgur.com/T1dZbmq.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fd2/2096060"
  flight: plague
  event: "Season of Rot: Winter ’17"
  date: 2017-03-20
  badges:
  - how: "10 points"
    img: https://i.imgur.com/7Hrmg9D.png
    by: "Blackhearted#46714 & KyraG#61693"
- url: "fl2/2138538"
  flight: plague
  event: "Plague Profit Squad: XVI"
  date: 2017-04-02
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/0XGxYWA.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2167276"
  flight: plague
  event: "Plague Profit Squad: XVII"
  date: 2017-04-30
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/MxhXC56.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2156535"
  flight: plague
  event: "The Great Book of Plague"
  date: 2017-05-08
  badges:
  - how: "took a survey"
    img: https://i.imgur.com/MCzjzhO.png
    by: "Fouguri#220745"
- url: "raf/2182101"
  flight: shadow
  event: "<a href='https://www1.flightrising.com/forums/raf/2182101'>Flowers Grow Raffle</a>"
  date: 2017-05-13
  badges:
  - how: "sent dragons on Saturday"
    img: https://i.imgur.com/P0LrDzZ.png
    by: "MangoPanda#117159"
- url: "fl2/2186851"
  flight: plague
  event: "Plague Profit Squad: XVIII"
  date: 2017-06-04
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/cY9Zjuz.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2195746"
  flight: plague
  event: "Army of Rot"
  date: 2017-06-04
  badges:
  - task: lvl
    how: "125"
    img: https://i.imgur.com/LMcAQro.png
    by: "KyraG#61693"
- url: "fd2/2136468"
  flight: plague
  event: "Season of Rot: Spring ’17"
  date: 2017-06-19
  badges:
  - task: exalt
    how: "700"
    img: https://i.imgur.com/xsgh2IM.png
    by: "Blackhearted#46714 & KyraG#61693"
- url: "fl2/2213430"
  flight: plague
  event: "Plague Profit Squad: XIX"
  date: 2017-07-02
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/lEsC2Gn.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2239907"
  flight: plague
  event: "Army of Rot"
  date: 2017-07-30
  badges:
  - task: lvl
    how: "250"
    img: https://i.imgur.com/QIHexGZ.png
    by: "KyraG#61693"
- url: "fl2/2260231"
  flight: plague
  event: "Plague Profit Squad: XXI"
  date: 2017-09-03
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/lCxKMf0.png
    by: "Vigil#387696 (lineart) & KyraG#61693 (color)"
- url: "fl2/2265375"
  flight: plague
  event: "Army of Rot"
  date: 2017-09-11
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/PSHsBOT.png
    by: "KyraG#61693"
- url: "fl2/2446776"
  flight: plague
  event: "Plague Profit Squad: XXVII"
  date: 2018-06-10
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/Qm5VI2E.png
    by: "KyraG#61693"
- url: "fl2/2195746"
  flight: plague
  event: "Moneydemic vs Plaguebringer"
  date: 2018-07-07
  badges:
  - how: "collective 2,500 exalts & 12,500 levels"
    img: https://cdn.discordapp.com/attachments/424735705089179675/469742238528831508/crest_2.png
    by: "Karitoriki#252993"
- url: "fl2/2468455"
  flight: plague
  event: "Plague Profit Squad: XXIX"
  date: 2018-07-08
  badges:
  - task: treasure
    how: "2,000,000"
    img: https://i.imgur.com/KbhJ3rV.png
    by: "KyraG#61693"
- url: "fl2/2473076"
  flight: plague
  event: "Army of Rot"
  date: 2018-07-08
  badges:
  - task: lvl
    how: "1,000"
    img: https://i.imgur.com/AZST6Y6.png
    by: "KyraG#61693"
- url: "fl2/2488536"
  flight: plague
  event: "Plague Profit Squad: XXX"
  date: 2018-08-05
  badges:
  - task: treasure
    how: "500,000"
    img: https://i.imgur.com/l4FugBb.png
    by: "KyraG#61693"
- url: "https://www1.flightrising.com/dragon/43961880"
  flight: plague
  event: "Pup Scouts"
  date: 2018-10-11
  badges:
  - how: "donated 10 stacks of food"
    img: https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8ebaa409-700c-44fb-b439-ed9e2916b696/dcjur3d-3fb94424-375e-4e55-972e-fe96c30bfe3d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi84ZWJhYTQwOS03MDBjLTQ0ZmItYjQzOS1lZDllMjkxNmI2OTYvZGNqdXIzZC0zZmI5NDQyNC0zNzVlLTRlNTUtOTcyZS1mZTk2YzMwYmZlM2QuZ2lmIn1dXX0.pPnSw1zxiplBO4sxhO4MYd2aIZeyzmCWreyLPTfkM9M
    by: "HeadlessKing#106328"
  - how: "~~~"
    img: https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8ebaa409-700c-44fb-b439-ed9e2916b696/dcmzxrs-035976fb-cec8-47b8-9d6b-1baf2d32f005.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi84ZWJhYTQwOS03MDBjLTQ0ZmItYjQzOS1lZDllMjkxNmI2OTYvZGNtenhycy0wMzU5NzZmYi1jZWM4LTQ3YjgtOWQ2Yi0xYmFmMmQzMmYwMDUucG5nIn1dXX0.nIKRaZ2cJ4SFUx9Yhr2grHCfGNYMVZD9fsy2J3lk2rA
- url: "fl2/2553394"
  flight: plague
  event: "Goals & Incentives: Riot of Rot"
  date: 2018-10-25
  badges:
  - task: ex5
    how: "75"
    img: https://i.imgur.com/kFRNHR4.png
    by: "KyraG#61693"
  - task: ex8
    how: "25"
    img: https://i.imgur.com/15TdcgE.png
- url: "fl2/2553415"
  flight: plague
  event: "Army of Rot: Riot of Rot"
  date: 2018-10-25
  badges:
  - task: lvl
    how: "250"
    img: https://i.imgur.com/rXymm6z.png
    by: "KyraG#61693"
- url: "fl2/2548720"
  flight: plague
  event: "Plague Profit Squad: XXXIII"
  date: 2018-11-04
  badges:
  - task: treasure
    how: "1,000,000"
    img: https://i.imgur.com/sX3ojoo.png
    by: "KyraG#61693"
- url: "raf/2571557"
  flight: plague
  event: "Maggot Race"
  date: 2018-12-09
  badges:
  - how: "bet on some bugs"
    img: https://i.imgur.com/R4KBJf7.png
    by: "Fouguri#220745"
- url: "fl2/2585632"
  flight: plague
  event: "Plague Profit Squad: XXXIV"
  date: 2018-12-30
  badges:
  - task: treasure
    how: "250,000"
    img: https://i.imgur.com/ivERssD.png
    by: "KyraG#61693"
- url: "raf/2777443"
  flight: earth
  event: "Harvest Festival"
  date: 2019-11-01
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/WiodMLg.png
    by: "Linnet#86"
- url: "raf/2803738"
  flight: ice
  event: "Masquerade Ball"
  date: 2020-01-01
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/cF0aEtH.png
    by: "Postmodern#53518"
- url: "raf/2815805"
  flight: light
  event: "Valightine’s"
  date: 2020-02-01
  badges:
  - task: lvl
    how: "400"
    img: https://i.imgur.com/SYw0OMM.png
    by: "Joydom#83368"
- url: "raf/2821554"
  flight: shadow
  event: "Cave Exploration Raffle"
  date: 2020-02-01
  badges:
  - task: lvl
    how: "500"
    img: https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/60b248fe-bc1a-43a2-af32-7c287075873f/dbi65tb-2edf8b83-0ba2-4fb6-aea0-3f61025269cd.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi82MGIyNDhmZS1iYzFhLTQzYTItYWYzMi03YzI4NzA3NTg3M2YvZGJpNjV0Yi0yZWRmOGI4My0wYmEyLTRmYjYtYWVhMC0zZjYxMDI1MjY5Y2QuZ2lmIn1dXX0.2CwJIhPFuRsyA4Lu8JfFI_I8sf16BfcK1dXDhDuHlv4
    by: "??? (four artists credited in-thread, not specific)"
- url: "drw/2824772"
  flight: water
  event: "LEAP"
  date: 2020-02-01
  badges:
  - how: "sent dragons on Sunday"
    img: https://i.postimg.cc/yN5C7Y7k/strawberry.png
    by: "brit#54041"
- url: "fd2/2845080"
  flight: plague
  event: "Goals & Incentives: Memes & Water"
  date: 2020-04-18
  badges:
  - task: ex5
    how: "25"
    img: https://i.postimg.cc/F1tgxVYx/l84.png
    by: "???"
  - task: ex8
    how: "50"
    img: https://i.postimg.cc/7Lq9c9ms/l53.png
- url: "fd2/2845075"
  flight: plague
  event: "Meme Push"
  date: 2021-04-18
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/JVDVBna.png
    by: "ratjima#91097"
- url: "fd2/2845634"
  flight: plague
  event: "Army of Rot"
  date: 2020-04-19
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/9HF3Z7S.png
    by: "“x”?"
- url: "fl2/2845067"
  flight: plague
  event: "Plague Profit Squad L"
  date: 2020-05-02
  badges:
  - task: 
    how: "earned 1,000,000 treasure"
    img: https://i.postimg.cc/d3FGktpW/NEWPPStier4.png
    by: "KyraG#61693 (lineart) & SummerMiko#136554 (coloring)"
- url: "fd2/3066779"
  flight: plague
  event: "Army of Rot"
  date: 2021-10-23
  badges:
  - task: lvl
    how: "2,000"
    img: https://i.imgur.com/1T5yLGD.png
    by: "LithoLab#387850"
- url: "fd2/3066883"
  flight: plague
  event: "Goals & Incentives: Riot of Rot"
  date: 2021-10-23
  badges:
  - task: ex5
    how: "100"
    img: https://i.imgur.com/QkuKtfn.png
    by: "???"
  - task: ex8
    how: "25"
    img: https://i.imgur.com/eyzBfOp.png
  - how: "sniped/aged up 10 dragons"
    img: https://i.imgur.com/BYigzuB.png
  - how: "exalted 1 dragon with a daily bonus"
    img: https://i.imgur.com/deDu2IR.png
- url: "fd2/3066866"
  flight: plague
  event: "The Great Cryptid Search Raffle"
  date: 2021-10-23
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/NFQB1hS.png
    by: "Kahvinporo#11138"
- url: "qnc/3066797"
  flight: plague
  event: "Riot of Rot Scavenger Hunt"
  date: 2021-10-23
  badges:
  - how: "5,000 points"
    img: https://i.imgur.com/aLtpPSl.png
    by: "Gwythaint#453574"
  - how: "100 unique drops"
    img: https://i.imgur.com/PUsRNUT.png
- url: "raf/3070041"
  flight: shadow
  event: "Shadow vs Ice Public Buy"
  date: "November 5+6, 2021"
  badges:
  - how: "<b class='sc'>chaos, chaos</b> (sent dragons for Chaos Cash)"
    img: https://i.imgur.com/e5splgD.png
    by: "??? (eleven artists credited in-thread, not specific)"
- url: "fl2/3071109"
  flight: plague
  event: "Plague Profit Squad LVIV"
  date: 2021-11-13
  badges:
  - task: treasure
    how: "2,000,000"
    img: https://i.imgur.com/EoxFPbp.png
    by: "KyraG#61693 (lineart) & SummerMiko#136554 (coloring)"
- url: "fd2/3075442"
  flight: plague
  event: "In-Flight Scavenger Hunt"
  date: 2021-11-28
  badges:
  - how: "5,000 points"
    img: https://i.imgur.com/T0xl7cc.png
    by: "Gwythaint#453574"
  - how: "100 unique drops"
    img: https://i.imgur.com/VH8JBXy.png
- url: "fl2/3077127"
  flight: plague
  event: "Plague Profit Squad LX"
  date: 2021-12-04
  badges:
  - task: treasure
    how: "2,000,000"
    img: https://i.imgur.com/56HMgBa.png
    by: "KyraG#61693 (lineart) & SummerMiko#136554 (coloring)"
- url: "fl2/3084280"
  flight: plague
  event: "Joint Profit Squad"
  date: 2022-01-08
  badges:
  - task: treasure
    how: "2,000,000"
    img: https://i.imgur.com/eyjvwzo.png
    by: "KyraG#61693 (lineart) & SummerMiko#136554 (coloring)"
- url: "fd2/3065640"
  flight: plague
  event: "Bragging Blights S8"
  date: 2022-01-11
  badges:
  - task: exalt
    how: "350"
    img: https://i.imgur.com/EJmqiTy.png
    by: "???"
- url: "raf/3092788"
  flight: nature
  event: "Nature Public Buy"
  date: 2022-01-15
  badges:
  - how: "sent dragons on Thursday"
    img: https://i.imgur.com/OPgGa70.png
    by: "Hwa#553789"
- url: "raf/3091693"
  flight: ice
  event: "Ice Raffle"
  date: 2022-01-22
  badges:
  - task: lvl
    how: "300"
    img: https://i.imgur.com/vpi1KQ7.png
    by: "??? (nine artists credited in-thread, not specific)"
- url: "drw/3101203"
  flight: light
  event: "Valight"
  date: 2022-02-12
  badges:
  - task: lvl
    how: "300"
    img: https://i.postimg.cc/vBVFTFmX/OOf-badge.png
    by: "??? (three artists credited in-thread, not specific)"
- url: "raf/3102055"
  flight: shadow
  event: "Run Away Shadows Raffle"
  date: 2022-02-19
  badges:
  - task: lvl
    how: "1,000"
    img: https://orig13.deviantart.net/81fa/f/2017/210/d/d/p4_by_empressfiraya-dbi65t6.gif
    by: "AlienaCordis#144520"
- url: "fd2/3106593"
  flight: plague
  event: "Little Greenhouse of Horrors IFR"
  date: 2022-03-12
  badges:
  - task: lvl
    how: "1,000"
    img: https://imgur.com/JQb3tVt.png
    by: "Phenri#135667"
- url: "fd2/3111145"
  flight: plague
  event: "Army of Rot: Nature vs Plague"
  date: 2022-03-12
  badges:
  - task: exalt
    how: "2,000"
    img: https://i.imgur.com/MHQh1ab.png
    by: "LithoLab#387850"
- url: "fd2/2984407"
  flight: plague
  event: "Spite the Sprite"
  date: 2022-03-12
  badges:
  - how: "won against the Sprite 15 times in a row"
    img: https://i.postimg.cc/5tgkdLCm/PS-3-lov-lov.png
    by: "VonGacy#310038"
- url: "fd2/3065640"
  flight: plague
  event: "Bragging Blights S9"
  date: 2022-03-13
  badges:
  - how: "900"
    img: https://i.imgur.com/HhNKQaL.png
    by: "Phenri#135667"
- url: "drw/3367491"
  flight: lightning
  event: "Bionic Birdwatching"
  date: 2024-10-05
  badges:
  - task: lvl
    how: "750"
    img: https://i.postimg.cc/CKyXrK3P/bird.png
    by: "TacoTequila#497217"
- url: "qnc/3367392"
  flight: fire
  event: "Fire Tour Scavenger Hunt"
  date: 2024-10-12
  badges:
  - how: "gained 1,000 points"
    img: https://i.postimg.cc/dkHpcWk6/FR2.png
    by: "AkaPanuka#4907"
- url: "fd2/3371209"
  flight: plague
  event: "Riot of Rotcon Raffle"
  date: 2024-10-26
  badges:
  - task: lvl
    how: "600"
    img: https://i.imgur.com/HG8Sbp6.gif
    by: "puq#303478"
- url: "fd2/3371153"
  flight: plague
  event: "Army of Rot"
  date: 2024-10-26
  badges:
  - task: lvl
    how: "1,000"
    img: https://i.imgur.com/VYcJGel.png
    by: "TheSunTheGodsSaw#35038 (original badge design) & ufology#296565 (recolors)"
- url: "fd2/3371283"
  flight: plague
  event: "Goals & Incentives"
  date: 2024-10-26
  badges:
  - task: ex5
    how: "50"
    img: https://i.imgur.com/tPk75UP.png
    by: "[unlisted]"
  - task: ex8
    how: "25"
    img: https://i.imgur.com/twzPUO7.png
  - how: "aged up 10 hatchlings"
    img: https://i.imgur.com/kp9ZWEH.png
  - how: "exalted 5 daily bonuses"
    img: https://i.imgur.com/aq1amo0.png
  - how: "hatched 1 fodder nest "
    img: https://i.imgur.com/GFDZaVS.png
  - how: "raided the AH 5 times"
    img: https://i.imgur.com/ekwWttT.png
- url: "drw/3371968"
  flight: nature
  event: "Nature Public Buy"
  date: 2024-11-02
  badges:
  - task: lvl
    how: "750"
    img: https://i.imgur.com/WQw4hWi.png
    by: "Kieren#665871"
- url: "qnc/3374188"
  flight: lightning
  event: "Astronaut Academy"
  date: 2024-11-08
  badges:
  - how: "completed word&nbsp;search & maze puzzles"
    img: https://i.imgur.com/6qmnRZ1.png
    by: "Kywren#539771"
  - how: "~~~"
    img: https://i.imgur.com/NYqePvv.png
- url: "raf/3375250"
  flight: shadow
  event: "Veilaversary Raffle"
  date: 2024-11-16
  badges:
  - task: lvl
    how: "1,000"
    img: https://orig13.deviantart.net/81fa/f/2017/210/d/d/p4_by_empressfiraya-dbi65t6.gif
    by: "AlienaCordis#144520"
- url: "raf/3377536"
  flight: earth
  event: "Earth Raffle"
  date: 2024-11-23
  badges:
  - task: lvl
    how: "350"
    img: https://i.imgur.com/Ya9VQDQ.png
#       "archaeoraptor that's the monday badge" flamin lego go brr
    by: "Vendrus#4101 and/or large#379282"
- url: "drw/3380359"
  flight: wind
  event: "Summer Sale"
  date: 2024-12-07
  badges:
  - how: "sent dragons on Tuesday"
    img: https://i.imgur.com/F5v0bS7.png
    by: "GuacamaYT#513417"
- url: "raf/3380727"
  flight: nature
  event: "Snowy Shenanigans"
  date: 2024-12-08
  badges:
  - how: "bought “an adorable little dragon made from snow”"
    img: https://i.imgur.com/akvCTh0.png
    by: "Stumpios#578879"
- url: "fd2/3382068"
  flight: plague
  event: "RatD999 VS Ratmaru Team Battle Raffle"
  date: 2024-12-14
  badges:
  - task: lvl
    how: "600"
    img: https://i.imgur.com/hQj1Ynd.png
    by: "Turquai#195511"
- url: "raf/3378932"
  flight: light
  event: "Winter Solstice Raffle"
  date: 2024-12-21
  badges:
  - task: lvl
    how: "750"
    img: https://i.postimg.cc/Pq5GM7cN/Cumulative-Orange6.png
    by: "Hollypox#98632"
- url: "drw/3384260"
  flight: earth
  event: "Earth Public Buy"
  date: 2024-12-28
  badges:
  - how: "sent Many Level"
    img: https://i.imgur.com/NuxYrqd.png
    by: "NimStratus#589160"
- url: "fd2/3383496"
  flight: plague
  event: "Plague Profit Squad LXXI"
  date: 2024-12-29
  badges:
  - task: treasure
    how: "2,000,000"
    img: https://i.imgur.com/FG8h84Q.png
    by: "KyraG#61693 (design) & SummerMiko#136554 (recolor)"
- url: "raf/3390352"
  flight: ice
  event: "Gala Raffle"
  date: 2025-01-25
  badges:
  - how: "sent dragons on Saturday"
    img: https://i.imgur.com/3uowUCZ.png
    by: "Straymoone#692346"
- url: "drw/3392700"
  flight: wind
  event: "Flight Wedding"
  date: 2025-02-01
  badges:
  - how: "sent dragons on Sunday"
    img: https://i.imgur.com/KUk61dQ.png
    by: "elpetuub#643692"
- url: "drw/3393959"
  flight: light
  event: "Starry Night PB"
  date: 2025-02-08
  badges:
  - task: lvl
    how: "500"
    img: https://i.postimg.cc/4xGkGLFD/Mobile-Pixel-5.png
    by: "UnholyFidelity#625578"
- url: "drw/3396909"
  flight: lightning
  event: "Lightning PB"
  date: 2025-02-15
  badges:
  - task: lvl
    how: "400"
    img: https://i.imgur.com/9aToAMX.png
    by: "Scultone#60638"
- url: "raf/3398357"
  flight: shadow
  event: "First Veilspun in Space Raffle"
  date: 2025-02-22
  badges:
  - task: lvl
    how: "500"
    img: https://i.imgur.com/PTvE3d3.png
    by: "[multiple artists listed]"
- url: "fd2/3398141"
  flight: shadow
  event: "Shadow Scavenger Hunt"
  date: 2025-03-02
  badges:
  - how: "gained 5,000 points"
    img: https://i.imgur.com/j9W6IfQ.png
    by: "ufology#296565"
  - how: "100 unique drops"
    img: https://i.imgur.com/OLCCXzW.png
    by: "ufology#296565"
- url: "fd2/3399983"
  flight: plague
  event: "Abbyversary&nbsp;3 Raffle"
  date: 2025-03-08
  badges:
  - task: lvl
    how: "750"
    img: https://i.imgur.com/eavNGry.png
    by: "cherrykitkat#355190"
- url: "fd2/3399898"
  flight: plague
  event: "Army of Rot"
  date: 2025-03-08
  badges:
  - task: lvl
    how: "1,500"
    img: https://i.imgur.com/9B9DBNk.png
    by: "TheSunTheGodsSaw#35038 (original badge design) & ufology#296565 (recolors)"
- url: "fd2/3399897"
  flight: plague
  event: "Goals & Incentives"
  date: 2025-03-08
  badges:
  - task: ex5
    how: "100"
    img: https://i.imgur.com/9fJlxjE.png
    by: "[unlisted]"
  - how: "aged up 25 hatchlings"
    img: https://i.imgur.com/gT6wkyk.png
  - how: "exalted 25 daily bonuses"
    img: https://i.imgur.com/zeFNtiv.png
  - how: "hatched 5 fodder nests"
    img: https://i.imgur.com/1TrpRQu.png
  - how: "raided the AH 5 times"
    img: https://i.imgur.com/xYm9jBJ.png
- url: "drw/3401799"
  flight: nature
  event: "Public Buy"
  date: 2025-03-15
  badges:
  - task: lvl
    how: "250"
    img: https://i.imgur.com/vxTMt9z.png
    by: "Chuchuana#38127"
- url: "raf/3403459"
  flight: wind
  event: "Night Market Raffle"
  date: 2025-03-22
  badges:
  - how: "sent dragons on Monday"
    img: https://imgur.com/BXM3KkE.png
    by: "HawkFirePhoenix#335777"
- url: "drw/3405222"
  flight: arcane
  event: "Starglobe Starvaganza"
  date: 2025-03-29
  badges:
  - how: "sent dragons on Thursday"
    img: https://i.postimg.cc/gJzwsHPg/jaymie-OOFR-PB-thursday-badge.png
    by: "Jaymie#203902"
- url: "raf/3406476"
  flight: fire
  event: "Mather’s Day"
  date: 2025-04-05
  badges:
  - task: lvl
    how: "1"
    img: https://imgur.com/vytF9TT.png
    by: "maranimh#578222"
- url: "drw/3408065"
  flight: ice
  event: "Plushie Public Buy"
  date: 2025-04-12
  badges:
  - task: lvl
    how: "150"
    img: https://i.imgur.com/d3oH5aT.png
    by: "SamTheCookieLord#473051"
- url: "raf/3409127"
  flight: earth
  event: "DustBowling"
  date: 2025-04-19
  badges:
  - how: "The Mossy Cerdae (Plague Team)"
    img: https://i.imgur.com/QxEKZpE.png
    by: "towerofbabel#246844"
- url: "raf/3410389"
  flight: water
  event: "Wavecrest ’25 OOF Raffle"
  date: 2025-04-26
  badges:
  - task: lvl
    how: "100"
    img: https://i.imgur.com/2vSJyv5.png
#       "archaeoraptor that's the saturday badge" YEAH BUT. EEL UNDERTIDE....
    by: "AgentKaticorn#708996"
- url: "drw/3411289"
  flight: light
  event: "Ren Faire"
  date: 2025-05-03
  badges:
  - task: lvl
    how: "1"
    img: https://i.postimg.cc/59TDB7S4/1tier1progressive.png
    by: "[multiple artists credited]"
- url: "drw/3412644"
  flight: shadow
  event: "Teddy Bear Picnic"
  date: 2025-05-10
  badges:
  - how: "sent dragons on Monday"
    img: https://i.imgur.com/MWQuAZ6.png
    by: "[multiple artists credited]"
- url: "drw/3413425"
  flight: wind
  event: "Spring Clean’t"
  date: 2025-05-17
  badges:
  - how: "sent dragons on Monday"
    img: https://i.imgur.com/4tkLxW8.png
    by: "epletuub#643692"
- url: "raf/3414081"
  flight: nature
  event: "OOF Raffle"
  date: 2025-05-24
  badges:
  - task: lvl
    how: "100"
    img: https://i.imgur.com/5X7Yqi5.gif
    by: "RaiStarDragon#361447"
---
<!doctype html>
<html lang="en">
<head>
	<title>dragonotes | badge hoard</title>
	<style>
		.sc{font-variant:small-caps; text-transform:lowercase;}
		
		h2{margin-bottom:0; text-align:center;}
		
		#badges{text-align:center; list-style-type:none; padding:0; font-family:verdana,sans-serif; font-size:.85em; line-height:1; display:flex; flex-wrap:wrap; justify-content:center; margin-top:0;}
		#badges>li{display:inline-block; background:#efefef; margin:5px; padding:.5em .75em;}
		#badges a{color:#731d08; text-decoration:none;}
		#badges .txt{margin:.25em 0 .5em;}
			#badges b{display:block;}
			#badges i{display:block; margin:.5em 0 0; font-size:.85em; font-style:normal;}
		.bd{list-style-type:none; padding:0;}
		img{max-height:100px; width:auto;}
		.bd li{display:inline-block; margin:5px; vertical-align:top;}
		.wh{margin:2.5px auto 0; max-width:100px; text-align:center;}
	</style>
</head>
<body>
	<h1><a href="{%include url.html%}">dragonotes</a> » shameless collection of shiny things</h1>
	<p>no fancy formatting this round. Look At Them</p>
	<ul>
		<li>no title link = in-flight</li>
		<li>image credits in the alt/hover text</li>
		<li>no description = basically a participation badge</li>
	</ul>
	
	<h2>Plagueling era</h2>
	<ul id="badges">{%for b in page.badges%}<li class="{{b.flight}}">
		<div class="txt">
			<b>{%unless b.url contains "fl2" or b.url contains "fd2"%}<a href="https://www1.flightrising.com/forums/{{b.url}}">{%endunless%}{{b.event}}{%unless b.url contains "fl2" or b.url contains "fd2"%}</a>{%endunless%}</b>
			<i>{{b.date|date:"%B&nbsp;%d, %Y"}}</i>
		</div>
		<ul class="bd">{%for bd in b.badges%}<li>{%if forloop.first%}{%capture by%}{{bd.by}}{%endcapture%}{%endif%}
			<img src="{{bd.img}}" alt="{%if bd.by%}badge{%unless forloop.last%}s{%endunless%} by {{bd.by}}{%endif%}" title="badge by {%if bd.by%}{{bd.by}}{%else%}{{by}}{%endif%}">{%unless bd.how=="~~~"%}<div class="wh">
			<small>{%if bd.task=="treasure"%}earned{%endif%}{%if bd.task=="lvl"%}{%if b.flight=="plague"%}exalted{%else%}sent{%endif%}{%endif%}{%if bd.task contains "ex"%}exalted{%endif%}{%if bd.task=="send"%}sent{%endif%} {{bd.how}} {%if bd.task=="treasure"%}treasure{%endif%}{%if bd.task=="lvl"%}levels{%endif%}{%if bd.task contains "ex"%}<span class="sc">LVL</span>{%if bd.task=="ex5"%}5{%else%}8{%endif%}s{%endif%}{%if bd.task=="send"%}dragons{%endif%}</small></div>{%endunless%}
		</li>{%endfor%}</ul>
	</li>{%endfor%}</ul>
</body>
</html>