---
layout: none
---
<!doctype html><html>
<!--the mass-image-loading is slow, so by default I've made everything "img srrc"; replace that when editing locally-->
<head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
	<title>dragonotes/_data</title>
	<link href="{%include url.html%}/assets/colors.css" type="text/css" rel="stylesheet"/>
	<style>
		h1{margin-bottom:-.5em;}
		details{border:1px solid #bfbfbf; margin:1em 0;}
		summary{padding:.5em;} summary:hover{background:#efefef; cursor:pointer;}
		h3{display:inline;}
		
		details p{margin:0 .5em 1em;}
		details ul{margin:.25em 0 .5em 1em; padding:0;}
		
		table{border:2px solid #808080; margin:.5em; font-family:monospace; border-spacing:0;}
			/*no border-collapse or the borders disappear on the sticky headers*/
		thead{position:sticky; top:0;}
		th{text-align:left; background:#dfdfdf;}
		th,td{border:1px solid #bfbfbf; border-color:rgba(0,0,0,.15); padding:.25em .5em;}
		.odd{background:#fff;} .even{background:#f7f7f7;}
		th[colspan]{text-align:center;}
		.empty{background:rgba(128,128,128,.15);}
		.hl{background:rgba(255,255,0,.15);}
		
		.img{text-align:center; line-height:0; padding:0;} .img a{display:block; padding:.25em 0;} .img a:hover{background:rgba(218,214,200,.75);}
		#bne table{display:inline-block; vertical-align:top;}
		
		#dragons{text-wrap:nowrap;}
		#dragons ul code{font-weight:bold; font-size:1.15em;}
		#dragons tr.hl{background:#dfdfdf;} /*making this semi-transparent will make the details border show through, whoops! it overrides the even/odd distinction*/
		#dragons .img{text-align:left;}
		.art{text-align:center; font-weight:bold;} .art-y{color:#008000;} .art-n{color:#800000;}
		.ver{font-size:0;} .ver a{display:inline-block !important;}
	</style>
</head><body>

	<h1>dragonotes/_data</h1>
	<p>it’s like if a spreadsheet was an HTML page.<br>
	displays data <b>exactly as coded</b>, no fancy upper/lower-case shenanigans. columns in [brackets] are <em>not</em> in the data, and exist for ease of preview.<br>
	links within tables open in new tabs.</p>
	
	<nav>SKIPTO: <a href="#art">art</a> <a href="#bne">breeds</a> <a href="#colors">colors</a> <a href="#dragons">dragons</a> <i>(skipping farewell & template)</i> <a href="#bne">elements</a> <a href="#items">items</a></nav>
	
	<section><!--for ease of notepad++ viewing-->
	<h2>FR defaults</h2>
	<details id="bne">
		<summary><h3>breeds & elements</h3></summary>
		<table>
			<thead><tr><th>nm</th><th>id</th><th>typ</th></tr></thead>
			<tbody>{%for b in site.data.breeds%}<tr class="{%cycle 'odd','even'%}"><td>{{b.nm}}</td><td>{{b.id}}</td><td>{{b.typ}}</td></tr>{%endfor%}</tbody>
		</table><table>
			<thead><tr><th>nm</th><th>id</th></tr></thead>
			<tbody>{%for e in site.data.elements%}<tr class="{%cycle 'odd','even'%}"><td>{{e.nm}}</td><td>{{e.id}}</td></tr>{%endfor%}</tbody>
		</table>
	</details>
	
	<details id="colors">
		<summary><h3>colors</h3></summary>
		<p>uses classes from <code>colors.css</code> to set bg+text defaults<br>
		hex column text is deliberately “invisible” to make sure I got all the codes right</p>
		<table>
			<thead><tr>
				<th>nm</th>
				<th>id</th>
				<th>hx</th>
			</tr></thead>
			<tbody>{%for c in site.data.colors%}<tr class="c{{c.id}}">
				<td>{{c.nm}}</td>
				<td>{{c.id}}</td>
				<td><span style="color:#{{c.hx}}">#{{c.hx}}</span></td>
			</tr>{%endfor%}</tbody>
		</table>
	</details>
	</section>
	
	<hr>
	
	<section>
	<h2>for me/this site</h2>
	<details open id="art">
		<summary><h3>art</h3></summary>
		<p>"fl" defaults to png unless otherwise stated</p>
		<table>
			<thead><tr>
				<th rowspan="2">[IMG]</th>
				<th rowspan="2">dt</th>
				<th rowspan="2">fl</th>
				<th rowspan="2">dr</th>
				<th colspan="2">by</th>
			</tr><tr>
				<th>fr</th>
				<th>nm</th>
			</tr></thead>
			<tbody>{%assign achrono=site.data.art|sort:"dt"%}{%for a in achrono%}<tr class="{%cycle 'odd','even'%}">
				<td class="img{%if a.ver%} ver{%endif%}"><!--spaced this out so it's easier to copypaste the URL-->
					{%if a.ver%}
						{%for v in a.ver%}
							<a href="{%include url.html%}/assets/img/art/{%if a.by%}notmine/{%endif%}{{a.dt}}{%if a.by%}_by-{%if a.by.fr%}FR{{a.by.fr}}{%endif%}{%endif%}_{{v.nm}}.{%if v.fl%}{{v.fl}}{%else%}png{%endif%}" class="ver" target="_blank">
								<img srrc="{%include url.html%}/assets/img/art/{%if a.by%}notmine/{%endif%}{{a.dt}}{%if a.by%}_by-{%if a.by.fr%}FR{{a.by.fr}}{%endif%}{%endif%}_{{v.nm}}.{%if v.fl%}{{v.fl}}{%else%}png{%endif%}" height="30px">
							</a>
						{%endfor%}
						{%else%}
							<a href="{%include url.html%}/assets/img/art/{%if a.by%}notmine/{%endif%}{{a.dt}}{%if a.by%}_by-{%if a.by.fr%}FR{{a.by.fr}}{%endif%}{%endif%}.{%if a.fl%}{{a.fl}}{%else%}png{%endif%}" target="_blank">
								<img srrc="{%include url.html%}/assets/img/art/{%if a.by%}notmine/{%endif%}{{a.dt}}{%if a.by%}_by-{%if a.by.fr%}FR{{a.by.fr}}{%endif%}{%endif%}.{%if a.fl%}{{a.fl}}{%else%}png{%endif%}" height="30px">
						</a>
					{%endif%}
				</td>
				<td>{{a.dt}}</td>
				<td{%unless a.fl%} class="empty"{%endunless%}>{{a.fl}}</td>
				<td>{%for d in a.dr%}{{d}}{%if forloop.last!=true%},{%endif%}{%endfor%}</td>
				<td{%unless a.by%} class="empty"{%endunless%}><a href="https://www1.flightrising.com/clan-profile/{{a.by.fr}}" target="_blank">{{a.by.fr}}</a></td>
				<td{%unless a.by%} class="empty"{%endunless%}>{{a.by.nm}}</td>
			</tr>{%endfor%}</tbody>
		</table>
	</details>
	
	<details open id="dragons">
		<summary><h3>dragons</h3></summary>
		<p>based on the template <b>without</b> the <code>has</code> checker</p>
		
		DEFAULTS:<ul>
			<li><code>age</code>: adult, <i>else permababy</i></li>
			<li><code>gen</code>: ≥2, <i>else G1</i></li>
			<li><code>lvl</code>: 1, <i>else [as specified]</i></li>
			<li><code>stats[all]</code>: none, <i>else [as specified]</i></li>
			<li><code>genes.eye</code>: common, <i>else [as specified]</i></li>
			<li><code>dates.obtain</code>: same as hatch, <i>else [as specified]</i></li>
		</ul>
		
		<p><code>cat</code>egories are still subject to change; I have <code>other</code> highlighted because more descriptive categories (template currently offers <code>[lore,virevo,baneclan,inn,song,nolore]</code>) are better</p>
		
		<p>grayed-out rows use old <code>has</code> data; I’ve stopped using it since, buuuut it might actually be nifty to have anyway? familiar (optional), vista, and scene are used on individual pages; skins, apparel, and actual desctiptions can be page-specific.<br>
		+also toying with the idea of an extra date checker, for genes and such; the concatenation + chronological ordering can be applied to the <code>dragons</code> layout</p>
		
		<p><b>IDs link to FR pages & names link to pages here (if any)</b></p>
		
		<!--https://stackoverflow.com/questions/25335388/creating-and-accessing-arrays-in-liquid-templates/34805293#34805293
		[%capture pagesTest%][%for d in site.dragons%][[d.slug|capitalize]][%endfor%][%endcapture%]
		
		[[pagesTest]]
		[%if pagesTest contains "Lapilli"%]yes[%else%]no[%endif%]
		-->
		
		<p><code>[ART]</code> only checks for art saved <em>here</em>, onsite. does not account for makeovers (hi, Skiptrace)</p>
		
		<table>
			<thead><tr>
				<th rowspan="3">[IMG]</th>
				<th rowspan="3">nm</th>
				<th rowspan="3">id</th>
				<th rowspan="3">sex</th>
				<th rowspan="3">age</th>
				<th rowspan="3">breed</th>
				<th rowspan="3">gen</th>
				<th rowspan="3">lvl</th>
				<th colspan="4">stats</th>
				<th colspan="3">msr</th>
				<th colspan="7">genes</th>
				<th colspan="3">dates</th>
				<th rowspan="3">cat</th>
				<th rowspan="3">[ART?]</th>
			</tr><tr>
				<!--stats--><th rowspan="2">bld</th>
				<th rowspan="2">lnk</th>
				<th rowspan="2">by</th>
				<th rowspan="2">id</th>
				<!--msr--><th rowspan="2">length</th>
				<th rowspan="2">wings</th>
				<th rowspan="2">weight</th>
				<!--genes--><th colspan="2">pri</th>
				<th colspan="2">sec</th>
				<th colspan="2">tert</th>
				<th rowspan="2">eye</th>
				<!--dates--><th rowspan="2">hatch</th>
				<th rowspan="2">obtain</th>
				<th rowspan="2">hibern</th>
			</tr><!--genes>pri/sec/tert--><tr>
				<!--pri--><th>clr</th><th>gn</th>
				<!--sec--><th>clr</th><th>gn</th>
				<!--tert--><th>clr</th><th>gn</th>
			</tr></thead>
			<tbody>{%for d in site.data.dragons%}<tr class="{%cycle 'odd','even'%}{%if d.has%} hl{%endif%}">
				<td class="img">
					<img srrc="{%include url.html%}/assets/img/dragons/{{d.id}}_100.png" height="20px;">
					<img srrc="{%include url.html%}/assets/img/dragons/{{d.id}}_350.png" height="20px;">
					<img srrc="{%include url.html%}/assets/img/dragons/{{d.id}}-av.png" height="20px;">
					{%unless d.age%}<img srrc="{%include url.html%}/assets/img/dragons/{{d.id}}-c.png" height="20px;">{%endunless%}
				</td>
				<!--for linking; see above. KEEP THE SLUG/NAME SEPARATE; it's redundant *but* will save me time with the weird names (letter cutoffs, multiple words) later. also keeps the HTML pages in order regardless of alphabet/ID/etc.-->{%capture pages%}{%for d in site.dragons%}{{d.name}}{%endfor%}{%endcapture%}
				<td>{%if pages contains d.nm%}<a href="{%include url.html%}/dragons/{{d.nm|downcase}}">{%endif%}{{d.nm}}{%if pages contains d.nm%}</a>{%endif%}</td>
				<td><a href="https://www1.flightrising.com/dragon/{{d.id}}">{{d.id}}</a></td>
				<td>{{d.sex}}</td>
				<td{%unless d.age%} class="empty"{%endunless%}>{{d.age}}</td>
				<td>{{d.breed}}</td>
				<td{%unless d.gen%} class="empty"{%endunless%}>{{d.gen}}</td>
				<td{%unless d.lvl%} class="empty"{%endunless%}>{{d.lvl}}</td>
				<td{%unless d.stats%} class="empty"{%endunless%}>{{d.stats.bld}}</td>
				<td{%unless d.stats%} class="empty"{%endunless%}>{{d.stats.lnk}}</td>
				<td{%unless d.stats%} class="empty"{%endunless%}>{{d.stats.by}}</td>
				<td{%unless d.stats%} class="empty"{%endunless%}>{{d.stats.id}}</td>
				<td>{{d.msr.length}}</td>
				<td>{{d.msr.wings}}</td>
				<td>{{d.msr.weight}}</td>
					<!--copied from layouts/dragons.html-->
					{%assign pri=site.data.colors|where:"nm",d.genes.pri.clr%}
				<td style="color:#{%for clr in pri%}{{clr.hx}}{%endfor%}">{{d.genes.pri.clr}}</td>
				<td style="color:#{%for clr in pri%}{{clr.hx}}{%endfor%}">{{d.genes.pri.gn}}</td>
					{%assign sec=site.data.colors|where:"nm",d.genes.sec.clr%}
				<td style="color:#{%for clr in sec%}{{clr.hx}}{%endfor%}">{{d.genes.sec.clr}}</td>
				<td style="color:#{%for clr in sec%}{{clr.hx}}{%endfor%}">{{d.genes.sec.gn}}</td>
					{%assign tri=site.data.colors|where:"nm",d.genes.tert.clr%}
				<td style="color:#{%for clr in tri%}{{clr.hx}}{%endfor%}">{{d.genes.tert.clr}}</td>
				<td style="color:#{%for clr in tri%}{{clr.hx}}{%endfor%}">{{d.genes.tert.gn}}</td>
				<td{%unless d.genes.eye%} class="empty"{%endunless%}>{{d.genes.eye}}</td>
				<td>{{d.dates.hatch}}</td>
				<td{%unless d.dates.obtain%} class="empty"{%endunless%}>{{d.dates.obtain}}</td>
				<td>{{d.dates.hibern}}</td>
				<td{%if d.cat contains 'other'%} class="hl"{%endif%}>{%for dcat in d.cat%}{{dcat}}{%if forloop.last!=true%},{%endif%}{%endfor%}</td>
					<!--recycled from the "has page" check-->{%capture art%}{%for a in site.data.art%}{{a.dr}}{%endfor%}{%endcapture%}
				<td class="art art-{%if art contains d.nm%}y{%else%}n{%endif%}">{%if art contains d.nm%}Y{%else%}N{%endif%}</td>
			</tr>{%endfor%}</tbody>
		</table>
	</details>
	
	<details id="items">
		<summary><h3>items</h3></summary>
		<p>image links open the game database</p>
		<table>
			<thead><tr>
				<th>[IMG]</th>
				<th>id</th>
				<th>nm</th>
				<th>ct</th>
			</tr></thead>
			<tbody>{%for i in site.data.items%}<tr class="{%cycle 'odd','even'%}">
				<td class="img"><a href="https://www1.flightrising.com/game-database/item/{{i.id}}" target="_blank"><img srrc="{%include url.html%}/assets/img/items/{{i.id}}.png" height="28px" width="28px"></a></td>
				<td>{{i.id}}</td>
				<td>{{i.nm}}</td>
				<td>{{i.ct}}</td>
			</tr>{%endfor%}</tbody>
		</table>
	</details>
	</section>

<!--TEMPLATE
		<table>
			<thead><tr>
				<th></th>
				<th></th>
			</tr></thead>
			<tbody>{%for a in site.data.art%}<tr class="{%cycle 'odd','even'%}">
				<td></td>
				<td></td>
			</tr>{%endfor%}</tbody>
		</table>
-->

</body>
</html>