---
layout: none
# initially HTML-only version coded on neocities, 7/16AM

# not putting the stats in front matter bc I don't anticipate needing to change them much, if at all
std-img: dragon.png
std-link: "https://www1.flightrising.com/scrying/predict?breed=6&gender=0&age=1&bodygene=6&body=11&winggene=6&wings=10&tertgene=6&tert=3&element=6&eyetype=0"
std-caption: |-
  <span>An image of a standard Frostbite dragon</span> <span>(opens Scrying Workshop in new tab)</span>

intro: |-
  <b>Frostbite</b> dragons are a scattered grouping of fervent exaltation devotees, characterized by utilitarian ideals and striking monochromatic scales.
  
  Originating in the Southern Icefield, the first Frostbite dragons are thought to have been a small cluster of Tundras based in the [Reclaimer's Glacier](https://www1.flightrising.com/world-map?poi=153&view=land&viewpin=true). Their unique coloration led to the development of a specialized ambush technique, which they used to capture Shade entities. Over time, the group's range expanded, initially by northward land travel and later with branch-offs into new territories. Many of these offshoot groups eventually broke contact with the Icefield base, resulting in the scattered population seen today.
  
  Despite the wider territorial range, and by extension shifting loyalties from deity to deity, Frostbite dragons remain distinct in both [coloration](#physiology) and [culture](#clans). Their impact and spread throughout Sornieth is poorly understood; research into is ongoing.
huh: |-
  <b>What is this…?</b>  
  Quick fourthwall-break. If you've somehow stumbled upon this page without knowing what it is, hi! [Flight&nbsp;Rising](https://www1.flightrising.com/) is a browser-based dragon collection game, on which many people write little stories and develop worlds for their dragons. FR has an established setting, Sornieth, but players are free to pick and choose which aspects of the "canonical" lore they use (if any).
  
  **Subspecies** are player-defined dragon varieties, typically centered around a distinct aesthetic and common lore. Although the subspecies creator sets some benchmarks, individual dragons' stories are up to the people who own them. I think it's a neat semi-collaborative schtick, and decided to turn a long-standing personal lore idea into one.
  
  I do not like maintaining lengthy BBCode-heavy forum threads. I *do* like going ham on my own site, and ripping off Wikipedia. So this page exists. Hooray!

sections:
  - nm: "History"
    content: |-
      [Ice -> Arcane -> Plague -> branch-offs; most successful in Earth & Shadow, kinda Light maybe Water/Nature, and ig Lightning. keep this section to the **origins**, flight-specific info in #clans]
      
      - started with Shade-hunting Tundras then clan infiltration and social hysteria happened
      - initially expected to report back to base; became impractical
      - hivemind mentality
      - Tundra stereotypes probably heavy contributor to everything
      - anyway then they moved and now they're maybe-everywhere??
      
      #### Ambush technique
      [start with a wikipedia-esque "this section is a stub, more research is needed" note. blockquote from Galena, a firsthand witness. *supposedly* there's some secret technique developed by the very first tundras, but like who knows it's been a gazillion years and probably other groups (read: other irl-people's lore) have also claimed The Formidable Battlestone Tundra. it's basicslly legend at this point]
      
      - "The only tenet lost is the founding group’s ambush technique, subsumed over generations by an all-purpose training regiment. Developed tactics still prioritize efficiency (read: glass cannon fodder trainers), but the details vary by clan. Taking a page from Plague’s playbook, it is more important to thrive and proliferate than to adhere to some dated, prescriptive norm."

  - nm: "Physiology"
    content: |-
      The archetypal Frostbite dragon is recognizable by the following traits in tandem:
      - a dark, monochrome base (primary & secondary),
      - a bright, busy scattering of a brighter tone (tertiary) which covers both body and wings,
      - and an overall blue tint.
      
      **Body** (primary) and **wing** (secondary) base patterns are animalistic, typically lacking strong contrast. Early marks matched genes categorized formally as Bar, Daub, Ripple, and Current, in various combinations. Other muted marks have also been documented, including but not limited to spots, stripes, and patches. Accent colors are sparse, when existent at all. Distinct, "artificial" patterns, such as those exhibited by Harlequin/Jester, are nigh-nonexistent; they tend to provide poor camoflauge.
      
      Although the environmental advantage of the marking has been lost to geographical spread, Frostbite dragons often exhibit **pale, "frosty" cracks** (Ice tertiary) across their entire body. Moreso than any base texture, this characteristic crackling serves as an in-group signifier---especially in territories far removed from the Icefield.
      
      Every and any dragon, regardless of element, may be a Frostbite dragon.
      
      ### Variants
      <h4 id="eclipse">Eclipse</h4><!--using HTML so the ID is consistent for the table link-->
      [ FIGURE: [ragged/coil/eclipse/primal](https://www1.flightrising.com/scrying/predict?breed=26&gender=1&age=1&bodygene=509&body=11&winggene=371&wings=10&tertgene=353&tert=3&element=6&eyetype=6) ]
      
      In recent years, as vibrant markings have become increasingly prominent throughout Sornieth, a distinct sub-variety of Frostbite dragons has been spotted with the tertiary gene Eclipse. First spotted in the Sunbeam Ruins among a group of Everluxes, Eclipse-sporting dragons seem inclined towards streamlined, less-"natural" appearances, and place greater emphasis on magic in combat. The difference is further pronounced by accented base marks, such as the gene Ragged, and a preference towards decorated lairs and status signals. Camoflauge and a strictly-nocturnal lifestyle are of lesser concern to these dragons.<sup>[citation needed]</sup>
      
      #### Tertiary variations
      Light markings may not be consistent with the gene Crackle, though some degree of randomness and high coverage is expected. Flecks appears more frequently than Opal, for example. Ancient growths or abilities which serve a similarly silhouette-obscuring purpose have also been noted, albeit rarely.
      
      [ FIGURE: [sandsurge ft. thundercrack](https://www1.flightrising.com/scrying/predict?breed=23&gender=0&age=1&bodygene=203&body=11&winggene=204&wings=10&tertgene=194&tert=3&element=6&eyetype=7) / caption: Thundercrack, as a defined gene, serves a similar visual purpose to Crackle---even though it isn't contained to the surface of a dragon's body. ]
      
      [ OOC TL;DR: no there is no List of Accepted Genes. realistically I am not keeping up with that and moreover it is about the Vibes. like Arapaima/Hawkmoth is borderline to me but if your heart's set on it who am I to tell you no. idc. be free ]
      
      #### Other appearances
      As allegiance is determined by devotion, not blood or appearance (see [Clans§Culture](#culture)), it is possible for a Frostbite dragon to look nothing like the archetype. The physical profiles above describe an encyclopedic standard, traits which may identify a Frostbite dragon to an external eye, and are not comprehensive.

  - nm: "Clans"
    content: |-
      Unlike many clans in modern Sornieth, Frostbite clans are defined by strict adherence to the in-group. Others can enter; few may leave. What documentation exists of Frostbite's culture has been provided by a mix of close observation, outsiders with close brushes, and, most rarely, the testimony of escaped members.
      
      ### Culture
      [lorem ipsum standard tenets go here. they'e tough they're communal exalting is everything. also they can be double agents. anonymized hivemind.]
      
      - emphasis on exaltation
      - unity of purpose >\>> anything else
      - nocturnal ambusers, traditionally
      - 
      
      ### Locations
      The migration of Frostbite dragons can be roughly traced as a linear northwest claw from the Southern Icefield, curling through the Starfall Isles and east into the Scarred Wasteland. From here, populations dispersed in all directions.
      
      [does NOT have to be long, one or two paragraphs is fine. basically the notes but with a tone revision]
      
      #### Southern Icefield
      [lipsum nullac latinword bleebus blorpus chicken stapler dolorsit agamemnon dolossus rotary. old-timey traditionalists] (Reclaimer's Glacier)
      
      - most traditional/close to "breed standard"; mostly Tundras, sometimes Gaolers
      - big dangers sent to the Dregs, may or may not get "improved" down there
      - often ephemeral, lacking identity. probably would not have the faintest clue Frostbite as a concept has Gone Places
      
      #### Scarred Wasteland
      [lipsum nullac latinword bleebus blorpus chicken stapler dolorsit agamemnon dolossus rotary. gross darwinists] (Abiding Boneyard, Wyrmwound, they kinda spread out here viral-style)
      
      #### Dragonhome
      [lipsum nullac latinword bleebus blorpus chicken stapler dolorsit agamemnon dolossus rotary. Big Established Home but seem to have mostly folded into the local cultures] (Shattered Plain? every region has a Sparse place huh)
      
      #### Tangled Wood
      [lipsum nullac latinword bleebus blorpus chicken stapler dolorsit agamemnon dolossus rotary. colosseum fights, private entertainments] (Foxfire Bramble, shows at the Forum of the Obscured Crescent)
      - took over Cryptocelus?
      
      #### Other territories
      - Starfall Isles: despite being the first outgroup, probably mutated into some sort of freak eldritch beings. we don't hear from them. (Starwood Strand?)
        - definition via what they're not (external perception & prescription) happened here. as did bias
      - Viridian Labyrinth: if they're here they're animals (Shrieking Wilds)
      - Sunbeam Ruins: emperor afficionados, and also the eclipses are here (Hewn City)
        - "The Lightning offshoots came from this direction, after some groups took too much of the scholarly sauce and wanted to establish themselves somewhere less, y’know, Emperor-ravaged and Shadow-secretive."
      - Sea of a Thousand Currents: if they didn't drown they're lurking in the depths (Leviathan Trench)
      - Windswept Plateau: ????, possibly outcompeted by the locals (no specific locale but exaltees are tossed to the Crescendo)
      - Ashfall Waste: they wrecked an empire here but got chased out by the unions (Flintlock Fumaroles? maybe the Vulcan thing was like... not even from other territories it was straight up from the Icefields)
      - Shifting Expanse: inexplicably seem to have established a factory (in the Carrion Canyon?)

  - nm: "Further reading"
    content: |-
      - Galena: escapee from a Plagueland subgroup
      - Carnation: self-appointed studier
      - Altair: also a self-appointed studier but kind of a fail-anthropologist about it

endnote: |-
  Hello! I am [Archaeoraptor](https://www1.flightrising.com/clan-profile/138250) and I like the color blue a lot. And high-contrast designs. And busy dragon genes. And I am not terribly tuned in to the subspecies scene, but I thought it would be the perfect framework in which to develop some recurring antagonists in my own lore, offering the outline as a template for the public in the process.
  
  There is no official Frostbite dragon registry; I do not have breeding pairs. This is all free lore estate. Use what you like and ignore what you don't. Credit would be swell, either [onsite](https://www1.flightrising.com/clan-profile/138250) or with a link to this page, but I am not going to chase you down for being too conceptually similar. It's dragons. Have fun!

---
<!DOCTYPE html>
<html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frostbite | dragonotes</title>
	<link rel="stylesheet" type="text/css" href="{%include url.html%}/frostbite/css.css"/>
</head><body><div id="wrap">
  <div id="box">
    <header>
      <h1>Frostbite</h1>
      <i>a lore-based subspecies</i>
    </header>
    <hr class="x">
    <main>
      <section id="intro">
        <a href="#skip" class="x">[skip info table]</a>
        <table id="std" class="ss">
          <tr id="std-img"><td colspan="2"><figure>
            <a href="{{page.std-link}}" target="_blank"><img src="{%include url.html%}/frostbite/{{page.std-img}}" alt=""></a>
            <figcaption>{{page.std-caption}}</figcaption>
          </figure></td></tr>
          <tbody>
            <tr class="tb"><th>Breed</th><td>Tundra (original), any</td></tr>
            <tr class="tb"><th>Element</th><td>Ice (original), any</td></tr>
            
            <tr class="th"><th colspan="2"><span>Genetics</span></th></tr>
            <tr class="tb"><th>Primary</th><td>
              <b>color</b>: Midnight<br>
              <b>gene</b>: Bar (standard), Ripple, other monochrome</td></tr>
            <tr class="tb"><th>Secondary</th><td>
              <b>color</b>: Midnight (standard), Obsidian<br>
              <b>gene</b>: Daub, Current, other monochrome</td></tr>
            <tr class="tb"><th>Tertiary</th><td>
              <b>color</b>: Ice<br>
              <b>gene</b>: Crackle*, Eclipse (<a href="#eclipse">variant</a>)<br>
              <small>(*Other tertiary genes may be acceptable; see <a href="#physiology">physiology</a>)</small></td></tr>
            
            <tr class="th"><th colspan="2"><span>Range & Variants</span></th></tr>
            <tr><td colspan="2"><figure>
              [IMG HERE; shaded map? maybe comment out the "variants" for now. link names to #header on this page]
              <figcaption><ul>
                <li><b>Southern Icefield</b>: [the origin]</li>
                <li><b>Scarred Wasteland</b>: [antivax darwinists]</li>
                <li><b>Dragonhome</b>: [rocks for the rock god]</li>
                <li><b>Tangled Wood</b>: [dragon hunger games]</li>
                <li><b>Shifting Expanse</b>: [fodder factory in the real]</li>
              </ul></figcaption>
            </figure></td></tr>
          </tbody>
        </table>
        
        {{page.intro|markdownify}}
        
        <div class="ooc" id="huh">{{page.huh|markdownify}}</div>
				
				<p>[some lil graphic down here would be fun... and also help hide the awkward empty space left of the sidebar on wide screens lol<br>[also maybe snag <a href="https://flightrising.com/images/layout/ice/background.jpg">the old Ice lair BG &lt;https://flightrising.com/images/layout/ice/background.jpg&gt;</a>]</p>
      </section>{%for sec in page.sections%}
			<section id="{{sec.nm|downcase|replace:' ','-'}}"><details open>
				<summary><h2>{{sec.nm}}</h2></summary>
				<div class="sec">{{sec.content|markdownify|
					replace:"h4","h4 class='ss'"|
					replace:"<sup>","<sup class='ss'><small><i>"|
					replace:"</sup>","</i></small></sup>"
				}}</div>
			</details></section>{%endfor%}
      <section id="endnote"><details open>
        <summary><h2><i>An endnote from the author</i></h2></summary>
        <div class="sec"><div class="ooc">{{page.endnote|markdownify}}</div></div>
      </details></section>
    </main>
  </div>
  <hr class="x">
  <footer><ul>
    <li>a <a href="https://www1.flightrising.com/">Flight&nbsp;Rising</a> fan-project</li>
    <li>code & concept by <a href="https://www1.flightrising.com/clan-profile/138250">Archaeoraptor#138250</a></li>
		<li class="ss">dragon images ©&nbsp;Stormlight&nbsp;Workshop, LLC</li>
  </ul></footer>

</div></body></html>