---
layout: none

canons:
  - canon: tfe
    longnm: The Firebird Effect
  - canon: cmyk
    longnm: disaster crew
    url: toyshelf/disaster-crew
  - canon: "404"
    url: hello-world
#   404 dragons all have unique bios but like *eh* why not.
  - canon: ygbtdm
    longnm: You’re gonna be the death of me
    url: ygbtdm

dragons:
# TFE
- id: 50340433
#  img: 
  fullnm: “that Johnson kid”
  clr: "#0069ff"
  canon: tfe
  tagline: Go for broke!
  item: cheerful bird toy
  search: [ultramarine,sunset,abyss]
  dates:
    - d: 2019-05-28
      h: received via [gift](http://flightrising.com/main.php?p=lair&tab=userpage&id=35930) (already named)
    - d: 2021-01-21
      g: mirror
    - d: 2021-06-17
      h: eternal youth
    - d: 2021-10-16
      g: [piebald,flair,crackle]
      h: "[color=red]!!link flair to {https://flightrising.com/main.php?p=lair&tab=userpage&id=453057}!![/color]"
    - h: hibden
  txt:
    - Friendly, typically optimistic, and has a righteous streak. Tries to get along with anyone likable in range. Really doesn’t see what this fuss about beastclan rebellion is about and would like the species to just get along already.
    - Would like to befriend [Shauna](https://www1.flightrising.com/dragon/22012254) and [Calem](https://www1.flightrising.com/dragon/48944088) but hasn’t had much luck. Fiercely guarded by [Serena](https://www1.flightrising.com/dragon/51317268), for unclear reasons.
    - For lore purposes, “offspring” are a record of beastclan friends. Also has a stash of trinket keepsakes from each.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=6&gender=0&age=1&bodygene=8&body=90&winggene=1&wings=172&tertgene=11&tert=96&element=11&eyetype=2"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=90&bodygene=8&breed=6&element=11&eyetype=2&gender=0&tert=96&tertgene=11&winggene=1&wings=172&auth=3ad804b42866fd539ff848f5c83a2f3f372b2273&dummyext=prev.png"
- id: 51317268
#  img: 
  fullnm: Serena Johnson
  clr: "#ff9600"
  canon: tfe
  tagline: Not dying yet.
  item: sunspot clouddancer hide
  search: [fire,fire,coal]
  dates:
    - d: 2019-05-08
      h: "found via Auction House (12kT)"
    - d: 2021-01-21
      g: mirror
    - d: 2021-10-16
      g: [falcon,trail,opal]
    - h: hibden
  txt:
    - Somewhat lost, but tries to get along and help out. Major soft spot for reckless youth and/or catastrophe victims; would defend them with her life. Seems convinced she can’t actually die.
    - Complicated relationship with [Malva](https://www1.flightrising.com/dragon/97666606). Has run into [Shauna](https://www1.flightrising.com/dragon/22012254) and [Calem](https://www1.flightrising.com/dragon/48944088) but doesn’t stay close to either. Watches [this youth](https://www1.flightrising.com/dragon/50340433) like an unsolicited (but not strictly unwelcome) guardian.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=11&gender=1&age=1&bodygene=1&body=48&winggene=9&wings=48&tertgene=5&tert=8&element=11&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=48&bodygene=1&breed=11&element=11&eyetype=0&gender=1&tert=8&tertgene=5&winggene=9&wings=48&auth=66662affe5d2134afc265183338bd5e32c865654&dummyext=prev.png"
- id: 22012254
  img: https://i.imgur.com/N9q5RBE.png
  fullnm: Shauna Najm
  clr: "#ff00ff"
  canon: tfe
  tagline: Wants to know what’s up. 
  item: unnatural leg bones
  search: [magenta,magenta,ice]
  dates:
    - d: 2018-12-31
      h: received via gift (previously named [i]Confectionery[/i])
    - d: 2019-01-19
      g: [fae,dark sclera,lionfish]
    - d: 2019-06-20
      g: [constellation,peacock]
    - h: hibden
  txt:
    - Inquisitive, attentive, flippant. Travels Sornieth for the latest buzz and occasionally helps out, but tries not to get personally invested. Plays proudly into the Light dragon archetype of being obsessed with information.
    - Good friends with [Calem](https://www1.flightrising.com/dragon/48944088); they keep in touch via courier/harpy mail and other magic. Has encountered [Serena](https://www1.flightrising.com/dragon/51317268) but finds her suspicious. On good terms with [Ren](https://www1.flightrising.com/dragon/56514106) and [Raf](https://www1.flightrising.com/dragon/77560917). Enjoys teasing [Flynn](https://www1.flightrising.com/dragon/52701682) about how little he’s changed every time they meet.
    - For lore purposes, “offspring” are dragons met on her travels.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=9&gender=1&age=1&bodygene=10&body=65&winggene=12&wings=65&tertgene=10&tert=3&element=8&eyetype=0"
  og-img: "https://flightrising.com/dgen/preview/dragon?age=1&body=65&bodygene=10&breed=9&element=8&eyetype=0&gender=1&tert=3&tertgene=10&winggene=12&wings=65&auth=d439d057e3e704e4e802672f8e7268e267de67d3&dummyext=prev.png"
- id: 48944088
  img: https://i.imgur.com/9v1BBPc.png
  fullnm: Calem Chevalier
  clr: "#6b7a8b"
  canon: tfe
  tagline: Driven through it all.
  item: grouse basilisk field notes
  search: [stonewash,overcast,white]
  dates:
    - d: 2019-01-30
      h: received via gift (originally unnamed)
    - d: 2019-03-13
      g: [guardian,contour]
    - d: 2019-05-11
      g: [bar,daub]
    - h: hibden
  txt:
    - Protective, stoic, blunt, but not as irritable as he could have been. Had a Charge crisis after the breed change, but ultimately realized he could live without one. Settled in Dragonhome and enjoys long walks on the coastline.
    - Good friends with [Shauna](https://www1.flightrising.com/dragon/22012254), who stuck with him during his snappier phase. Though physically distant nowadays, they keep in touch via courier/harpy mail and other magic shenanigans.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=9&gender=0&age=0&bodygene=1&body=24&winggene=5&wings=126&tertgene=10&tert=2&element=4&eyetype=0"
  og-img: "https://flightrising.com/dgen/preview/dragon?age=0&body=24&bodygene=1&breed=9&element=4&eyetype=0&gender=0&tert=2&tertgene=10&winggene=5&wings=126&auth=0d0e119a20adc923fd22ddacbe77c12aad59e19f&dummyext=prev.png"
- id: 97666606
#  img: 
  fullnm: Malva Lorraine
  clr: "#ff5500"
  canon: tfe 
  tagline: You’ll make it no matter what.
  item: firestarter
  search: [fire,sunset,gloom]
  dates:
    - d: 2024-09-09
      h: hatched via [nest rental](https://www1.flightrising.com/clan-profile/123265)
    - g: [banescale]
    - d: 2024-09-16
      g: [ragged,tear,flameforger,rare eyes]
    - h: hibden
  txt:
    - Voted most likely to set clanmates’ feathers on fire. Has connections in high places. Sick of catastrophe and drama; travels Sornieth as a “reporter” and tries to snuff out disaster before it gets too bad.
    - Keeps an especially close eye on [the kid](https://www1.flightrising.com/dragon/50340433) but avoids [Serena](https://www1.flightrising.com/dragon/51317268). Known friends with [Lysandre](https://www1.flightrising.com/dragon/104599230).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=7&gender=1&age=0&bodygene=10&body=48&winggene=11&wings=172&tertgene=14&tert=98&element=11&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=0&body=48&bodygene=10&breed=7&element=11&eyetype=1&gender=1&tert=98&tertgene=14&winggene=11&wings=172&auth=d6c3d16b16c1fa2868f97c176be2d7317d801410&dummyext=prev.png"
- id: 104599230
#  img: 
  fullnm: Lysandre Goodman
  clr: "#9a534d"
  canon: tfe
  tagline: For the future.
  item: lurker motherboard
  search: [brick,tarnish,platinum]
  dates:
    - d: 2025-08-11
      h: hatched via [nest rental](https://www1.flightrising.com/clan-profile/36636)
    - d: ????-??-??
      h: "[TBA]"
  txt:
    - Ambitious dragon capitalist, banking on the Earth flight’s trustworthy, nostalgic reputation. Tries not to be greedy & swears on using his wealth for altruism. Wants to help dragons who’ve gone astray.
    - Close with [Gabriel](https://www1.flightrising.com/dragon/78314031) and [Malva](https://www1.flightrising.com/dragon/97666606), or so he'd say. Whether it goes both ways is unclear.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=8&gender=0&age=0&bodygene=18&body=107&winggene=42&wings=124&tertgene=13&tert=4&element=1&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=0&body=107&bodygene=18&breed=8&element=1&eyetype=1&gender=0&tert=4&tertgene=13&winggene=42&wings=124&auth=8bb569651229b6be9b0a399d34781de09bcb37a8&dummyext=prev.png"
- id: 78314031
#  img: 
  fullnm: Gabriel Brandt
  clr: "#6ba700"
  canon: tfe
  tagline: None of your business.
  item: pickaxe
  search: [taupe,metals,radioactive]
  dates:
    - d: 2022-05-24
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=262589)
    - d: 2022-08-24
      g: [ground,flair,crackle,rare eyes,bogsneak]
    - h: hibden
  txt:
    - Reclusive, standoffish, and tries to be stoic but has anger management problems. Disgraced ex-scientist, banished from the Shifting Expanse for illicit research crimes. Was supposedly attempting to overshadow the Stormcatcher himself by concocting a strange elixir.
    - Mentored by [Lysandre](https://www1.flightrising.com/dragon/104599230). Semi-requited enemy of [Malva](https://www1.flightrising.com/dragon/97666606). Somehow related to [Raf](https://www1.flightrising.com/dragon/77560917) and [Ren](https://www1.flightrising.com/dragon/56514106) but avoids contact at every turn.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=7&gender=0&age=1&bodygene=5&body=95&winggene=16&wings=140&tertgene=8&tert=130&element=5&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=95&bodygene=5&breed=7&element=5&eyetype=0&gender=0&tert=130&tertgene=8&winggene=16&wings=140&auth=89cd6101a2f67a7f9beddbfa7a03a36d86c9e7a8&dummyext=prev.png"
- id: 77560917
#  img: 
  fullnm: Rafael Brandt
  clr: "#792f26"
  canon: tfe
  tagline: Here’s to tomorrow!
  item: tri-color scatterscroll
  search: [clay,strawberry,grey]
  dates:
    - d: 2022-04-24
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=462760)
    - d: 2024-08-24
      g: [bar,blend,capsule]
    - h: hibden
  txt:
    - Affable, flighty, can be forcibly enthusiastic. Tries to seem like a weird-if-friendly uncle, but mostly seems out of touch. Was once roped into dragon capitalism crimes; his record’s since been cleaned.
    - Can thank [his brother](https://www1.flightrising.com/dragon/78314031) and [Lysandre](https://www1.flightrising.com/dragon/104599230) for getting his name back in good legal standing. Good pals with [Shauna](https://www1.flightrising.com/dragon/22012254) & would like to see Gabe more.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=11&gender=0&age=1&bodygene=8&body=106&winggene=14&wings=168&tertgene=9&tert=6&element=3&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=106&bodygene=8&breed=11&element=3&eyetype=1&gender=0&tert=6&tertgene=9&winggene=14&wings=168&auth=f3a3c65df2e3851ff8ae21ac05ba85df4ab451e8&dummyext=prev.png"
- id: 56514106
#  img: 
  fullnm: Ren Brandt
  clr: "#a280a9"
  canon: tfe
  tagline: …
  item: field watcher
  search: [wisteria,wisteria,obsidian]
  dates:
    - d: 2019-11-09
      h: found via [Dragons For Sale](https://www1.flightrising.com/forums/baz/2776811#post_2776811)
    - d: 2021-06-22
      h: renamed (previously [i]Shadow[/i])
    - d: 2021-12-21
      g: [slime,sludge,koi]
    - h: hibden
  txt:
    - Passive, observant, easy to miss. Often mistaken for a statue or Shadow-goop-fountain. Mostly around because some dragons still need them.
    - On colloquial terms with [Shauna](https://www1.flightrising.com/dragon/22012254). Knew [Gabe](https://www1.flightrising.com/dragon/78314031). Keeps an eye on [Flynn](https://www1.flightrising.com/dragon/52701682).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=6&gender=1&age=1&bodygene=10&body=119&winggene=5&wings=119&tertgene=5&tert=10&element=7&eyetype=3"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=119&bodygene=10&breed=6&element=7&eyetype=3&gender=1&tert=10&tertgene=5&winggene=5&wings=119&auth=76de4cf5a6c3d5d6c057abfd5368c37c906a86c6&dummyext=prev.png"
- id: 52701682
  img: https://i.imgur.com/2Y0i4U3.png
  fullnm: Flynn Smith
  clr: "#ff0000"
  canon: tfe
  tagline: A very basic charmer.
  item: white knight
  search: [orange,red,white]
  dates:
    - d: 2019-06-16
      h: received via gift
    - d: 2019-06-28
      g: [spiral,-primary,-secondary]
    - h: hibden
  txt:
    - Self-absorbed, boisterous, and lives for attention. Will die for anyone who likes him back. Hangs around anyone who thinks he’s pretty fly for a changed guy.
    - Would probably not be alive if not for [Ren](https://www1.flightrising.com/dragon/56514106) but denies his own dependence. Vaguely amused by [Shauna](https://www1.flightrising.com/dragon/22012254). Strongly dislikes [that kid whatshername](https://www1.flightrising.com/dragon/51317268). Met [Nico](https://www1.flightrising.com/dragon/51774952) while trying to flirt with [his girlfriend](https://www1.flightrising.com/dragon/64836488); totally and completely entirely #nohomo for Nico himself.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=13&gender=0&age=1&bodygene=6&body=47&winggene=11&wings=62&tertgene=5&tert=2&element=3&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=47&bodygene=6&breed=13&element=3&eyetype=0&gender=0&tert=2&tertgene=5&winggene=11&wings=62&auth=4530c5d23f7dec0a533544c1d1fb4ad228f5fb5c&dummyext=prev.png"

# CMYK
- id: 51774952
  img: https://i.imgur.com/C8rY48k.png
  fullnm: Nico Sylvester
  clr: "#ff8080"
  canon: cmyk
  tagline: Tired, not really trying.
  item: cracked blackened ribcage
  search: [radioactive,murk,blood]
  dates:
    - d: 2019-05-13
      h: hatched via own nest
    - d: 2019-05-19
      g: [wildclaw]
    - d: 2019-06-07
      g: [pinstripe,current,thylacine]
    - h: hibden
  txt:
    - Pessimistic, sullen, sardonic. A low-life recluse with a jokester streak, but mostly keeps to himself and follows [Ivy](https://www1.flightrising.com/dragon/64836488) around. Has an affinity for music, but prone to (unintentionally, in a rage) breaking any instrument he can get his claws on.
    - Highly defensive of [his younger self](https://www1.flightrising.com/dragon/43931583). Occasionally chats with [Ava](https://www1.flightrising.com/dragon/58043404). Has been known to sneak away for boys’ nights out with [Flynn](https://www1.flightrising.com/dragon/52701682). Keeps very far away from [Tara](https://www1.flightrising.com/dragon/80730453) and [Vexus](https://www1.flightrising.com/dragon/51357840). Mildly curious about [the other Ivy](https://www1.flightrising.com/dragon/39708260) but she never stays long enough to chat.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=0&age=1&bodygene=12&body=130&winggene=2&wings=142&tertgene=0&tert=60&element=2&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=130&bodygene=12&breed=1&element=2&eyetype=0&gender=0&tert=60&tertgene=0&winggene=2&wings=142&auth=297f3198d226c429801b1cf6e01bfd79f10e40a2&dummyext=prev.png"
  note: also looks A+ with [Tide and/or Foam](https://www1.flightrising.com/scrying/predict?breed=10&gender=0&age=1&bodygene=114&body=130&winggene=113&wings=142&tertgene=11&tert=60&element=2&eyetype=0) but I ain’t regeneing him 
- id: 64836488
  img: https://i.imgur.com/M4ej5VS.png
  fullnm: "[color=#808080]“[/color]Ivy[color=#808080]”[/color]"
  clr: "#00bfbf"
  canon: cmyk
  tagline: Someone has to do it.
  item: strangling root
  search: [cyan,sky,blood]
  dates:
    - d: 2020-10-31
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=546178)
    - d: 2020-11-11
      g: [skydancer,poison,toxin,veined]
    - h: hibden
  txt:
    - Realistic, dedicated, humorless. Life objective begins and ends at keeping [Nico](https://www1.flightrising.com/dragon/51774952) kicking, to the ongoing frustration of both. The better of the duo at keeping up appearances.
    - Would interact with no one else if she could get away with it. Occasionally harassed by [Ava](https://www1.flightrising.com/dragon/58043404). Reluctantly aware of [Flynn](https://www1.flightrising.com/dragon/52701682)’s existence. Rejects any relation to [the other Ivy](https://www1.flightrising.com/dragon/39708260).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=1&age=1&bodygene=14&body=89&winggene=0&wings=23&tertgene=11&tert=60&element=5&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=89&bodygene=14&breed=1&element=5&eyetype=1&gender=1&tert=60&tertgene=11&winggene=0&wings=23&auth=f4df446f822d91c20015257c795d373541566c36&dummyext=prev.png"
- id: 43931583
  img: https://i.imgur.com/pi3vWsw.png
  fullnm: Nico Sylvester
  clr: "#00bf00"
  canon: cmyk
  tagline: Aggressively tries his best.
  item: gladiator's warhorn
  search: [radioactive,crocodile,white]
  dates:
    - d: 2018-08-01
      h: hatched via own nest
# 2019/04/21 "finally decided to keep" but idr what the original scry was anymore. swamp secondary?? idk it doesn't matter at this point
    - d: 2019-05-10
      g: [eternal youth]
    - d: 2019-05-19
      g: [spiral,clown,hypnotic,scales]
    - h: hibden
  txt:
    - Cocky, hyperactive, go-getter. Enjoys swimming; dreams of saving dragons from the unforgiving disease-infested waters between the Scarred Wasteland and Sea of a Thousand Currents, but mostly ends up scuffling with Mire beastclans. Living his best life.
    - Wishes [Tara](https://www1.flightrising.com/dragon/80730453) would play with him more. Gets along surprisingly well with [Ivy](https://www1.flightrising.com/dragon/39708260), though they don’t meet nearly as often as he’d like. Extremely suspicious of [Ava](https://www1.flightrising.com/dragon/58043404). Avoids [these](https://www1.flightrising.com/dragon/51774952) [weirdos](https://www1.flightrising.com/dragon/64836488); what’re [i]their[/i] deals? Not his problem..\..
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=0&age=1&bodygene=18&body=130&winggene=3&wings=173&tertgene=9&tert=2&element=2&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=130&bodygene=18&breed=1&element=2&eyetype=0&gender=0&tert=2&tertgene=9&winggene=3&wings=173&auth=78f3b5fedb7f39ed63073da8bc00c8943b39f1b4&dummyext=prev.png"
  note: "[possible regene??](https://www1.flightrising.com/scrying/predict?breed=7&gender=0&age=0&bodygene=3&body=130&winggene=113&wings=173&tertgene=15&tert=2&element=2&eyetype=2)"
- id: 39708260
  img: https://i.imgur.com/YPM6j2K.png
  fullnm: “Ivy”
  clr: "#8e9ea3"
  canon: cmyk
  tagline: Never seen without her trusted canine.
  item: shattered ceramic shard
  search: [sky,white,cyan]
  dates:
    - d: 2019-01-07
      h: received via gift
    - d: 2019-05-11
      g: renamed (previously [i]Fireheart[/i])
    - h: hibden
  txt:
    - High-strung, secretive, trying to be independent. Doesn’t start conversations, partially from shyness but mostly because she doesn’t want to have any. Ran away from the Southern Icefield and swears she’s not looking back; not doing too great on her own either, but having someone around is nice.
    - Considered [Tara](https://www1.flightrising.com/dragon/80730453) a friend until they actually met. Dislikes [Ava](https://www1.flightrising.com/dragon/58043404). Wants to get to know [Nico](https://www1.flightrising.com/dragon/43931583) more. Is weirded out by whoever [these](https://www1.flightrising.com/dragon/64836488) [two](https://www1.flightrising.com/dragon/51774952) are.
    - For lore purposes, “offspring” are characters she used to like. Emphasis on [i]used to[/i].
  og-url: "https://www1.flightrising.com/scrying/predict?breed=2&gender=1&age=1&bodygene=6&body=23&winggene=0&wings=2&tertgene=0&tert=89&element=6&eyetype=0"
  og-img: "https://flightrising.com/dgen/preview/dragon?age=1&body=23&bodygene=6&breed=2&element=6&eyetype=0&gender=1&tert=89&tertgene=0&winggene=0&wings=2&auth=c41c55e526d1264be5d5b8f639c48ccfc78d7321&dummyext=prev.png"
- id: 58043404
  img: https://i.imgur.com/v7cwBA8.png
  fullnm: Ava Fleischer
  clr: "#b06b3d"
  canon: cmyk
  tagline: Living life to the fullest while it lasts.
  item: ferberus skull
  search: [flaxen,mantis,maize]
  dates:
    - d: 2019-12-29
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=298793)
    - d: 2020-01-12
      g: [trail,ripple,petals,fae]
    - h: hibden
  txt:
    - Upbeat, carefree, avid story-listener. Fascinated by Nature’s endless growth, especially in corpses and [eyes](https://www1.flightrising.com/dgen/preview/dragon?age=1&body=139&bodygene=13&breed=1&element=10&eyetype=6&gender=1&tert=1&tertgene=20&winggene=22&wings=79&auth=7fad6a4273bc49d49b38e0d1987138bc9d6f0540&dummyext=prev.png). Seemingly carefree, if morbidly-inclined.
    - Had a fellow weirdo in [Tara](https://www1.flightrising.com/dragon/80730453). On amicable terms with [Nico](https://www1.flightrising.com/dragon/51774952), [Flynn](https://www1.flightrising.com/dragon/52701682), and [Vexus](https://www1.flightrising.com/dragon/51357840). Extremely curious about [Ivy](https://www1.flightrising.com/dragon/64836488).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=11&gender=1&age=1&bodygene=5&body=139&winggene=3&wings=79&tertgene=5&tert=1&element=10&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=139&bodygene=5&breed=11&element=10&eyetype=0&gender=1&tert=1&tertgene=5&winggene=3&wings=79&auth=2c9c90b8108a304544505a084ff038ce00859e0b&dummyext=prev.png"
- id: 80730453
#  img: 
  fullnm: Tara Caine
  clr: "#6ba700"
  canon: cmyk
  tagline: It’ll work out eventually, probably.
  item: brass steampunk tail bauble
  search: [copper,tarnish,abyss]
  dates:
    - d: 2022-09-11
      h: received via [gift](https://flightrising.com/main.php?p=lair&tab=userpage&id=439898)
    - d: 2022-09-18
      g: [cherub,marbled,capsule,nocturne]
    - h: hibden
  txt:
    - Chill, mildly awkward, basically friendly. Theoretically a mechanic in training, but doesn’t feel remotely cut out for it. May or may not have dissolved internal organs into Capsule, as dragon magic do.
    - A [cool big sister](https://www1.flightrising.com/dragon/51357840), at least when she’s not hanging out with [Ava](https://www1.flightrising.com/dragon/58043404). She swears she’s still down to cause mischief with [Nico](https://www1.flightrising.com/dragon/43931583).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=6&gender=1&age=1&bodygene=23&body=94&winggene=0&wings=124&tertgene=0&tert=96&element=5&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=94&bodygene=23&breed=6&element=5&eyetype=0&gender=1&tert=96&tertgene=0&winggene=0&wings=124&auth=3956f7cec62cec8cdf64107586d7a2410e396db4&dummyext=prev.png"
- id: 51357840
  img: https://i.imgur.com/N9WJ7Km.png
  fullnm: Vexus Caine
  clr: "#8e8325"
  canon: cmyk
  tagline: Someday it’ll all make sense.
  item: destroyed paper narrative
  search: [cherry,spring,grapefruit]
  dates:
    - d: 2019-04-29
      h: received via gift
    - d: 2019-05-10
      g: [eternal youth]
    - d: 2020-01-12
      g: [ridgeback,vipera,noxtide,underbelly]
    - h: hibden
  txt:
    - Silent, judgmental, would like to be calm [i]and yet[/i]. Can’t seem to escape others’ shadows. Perpetually dissatisfied, judged uncharitably, and annoyed by these assumptions.
    - Looking for [his lost sister](https://www1.flightrising.com/dragon/80730453). Highly suspicious of [Nico](https://www1.flightrising.com/dragon/51774952) and [Ivy](https://www1.flightrising.com/dragon/64836488). Keenly aware [Levi](https://www1.flightrising.com/dragon/50610501) wants to be pals; doesn’t reciprocate. Likes [Ava](https://www1.flightrising.com/dragon/58043404), not sure how to feel about her macabre fascinations. Wishes [Dodder](https://www1.flightrising.com/dragon/73121709) would shut the hell up.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=7&gender=0&age=1&bodygene=15&body=116&winggene=1&wings=40&tertgene=7&tert=128&element=8&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=116&bodygene=15&breed=7&element=8&eyetype=1&gender=0&tert=128&tertgene=7&winggene=1&wings=40&auth=75f83dd710c85682f96e54d17f6d40fb34379b98&dummyext=prev.png"
- id: 50610501
#  img: 
  fullnm: Levi d’Angelo
  clr: "#591cd0"
  canon: cmyk
  tagline: None of you people get it. 
  item: marva's phenomenal reflection
  search: [indigo,royal,purple]
  dates:
    - d: 2019-03-31
      h: found via Auction House (6999T)
    - d: 2019-04-08
      g: [eternal youth]
    - d: 2021-01-24
      g: [dark sclera]
    - d: 2021-12-21
      g: [coatl,noxtide,spines]
    - h: hibden
  txt:
    - Petty, seemingly-quiet, and would sooner dive into the Leviathan Trench than admit to being wrong. Brooding exterior is a lie; would mock a fool at the drop of a hat. Doesn’t trust adults and insists other hatchlings feel the same.
    - Absolute bestest goodest pals with [Vexus](https://www1.flightrising.com/dragon/51357840), to heck with everyone else. Especially doesn’t care for [Dodder](https://www1.flightrising.com/dragon/73121709), what a hack.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=5&gender=0&age=1&bodygene=20&body=112&winggene=20&wings=18&tertgene=0&tert=16&element=7&eyetype=0"
  og-img: "https://flightrising.com/dgen/preview/dragon?age=1&body=112&bodygene=20&breed=5&element=7&eyetype=0&gender=0&tert=16&tertgene=0&winggene=20&wings=18&auth=70eb8c7610cdea23778248658e40935d71710fee&dummyext=prev.png"
  note: "[tie-dye + different yellows?](https://www1.flightrising.com/scrying/predict?breed=12&gender=0&age=0&bodygene=237&body=112&winggene=337&wings=18&tertgene=8&tert=16&element=7&eyetype=8)"
- id: 73121709
#  img: 
  fullnm: Conor “Dodder” Haus
  clr: "#c4a866"
  canon: cmyk
  tagline: If you knew, you’d understand.
  item: dirt-covered tile
  search: [sanddollar,antique,tarnish]
  dates:
    - d: 2021-10-19
      h: hatched via [nest ental](https://www1.flightrising.com/clan-profile/519746)
    - d: 2021-10-25
      g: [pearlcatcher,jupiter,saturn,ghost]
    - d: 2021-10-30
      h: hibden
  txt:
    - Assertive, dubiously charming, devoted. Former acolyte, current wannabe-prophet after a coma led to visions he swears were straight from the Shade. No one listens but he does not care.
    - Lacks apparent ties to other noted locals, but keeps referencing [Tara](https://www1.flightrising.com/dragon/80730453) for some reason.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=3&gender=0&age=1&bodygene=4&body=110&winggene=11&wings=97&tertgene=0&tert=124&element=8&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=110&bodygene=4&breed=3&element=8&eyetype=1&gender=0&tert=124&tertgene=0&winggene=11&wings=97&auth=2d37d3686463b670571e3c2787c5089dc4f2f35c&dummyext=prev.png"

# YGBTDM
- id: 80522736
#  img: 
  fullnm: Joce
  clr: "#847d60"
  canon: ygbtdm
  tagline: You don’t know me. You don’t know anything about me.
  item: battered scroll case
  search: [goldenrod,moss,goldenrod]
  song:
    by: Marshmello ft. Khalid
    nm: Silence
    yt: https://www.youtube.com/watch?v=tk36ovCMsU8
  dates:
    - d: 2022-03-14
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=21634)
    - d: 2022-09-18
      g: [-primary,patchwork,veined,obelisk]
    - h: hibden
  txt:
    - Twitchy, sullen, more skittish than she cares to let on. Admires the most dedicated of wandering guardians and gaolers, but more likely to be found in her own cave stockpiling food. Ready for Sornieth to descend into chaos whenever, at least on paper.
    - Isn’t sure why [Kay Lin](https://www1.flightrising.com/dragon/82316654) actually stays, but can’t say no. Decisively unamused by [Addison](https://www1.flightrising.com/dragon/76962697) and [Caleb](https://www1.flightrising.com/dragon/76520385). Wary of, but oddly drawn to, [Gary](https://www1.flightrising.com/dragon/93121654) and [Fakeout](https://www1.flightrising.com/dragon/70428134). Mostly unaware of [Sequitur](https://www1.flightrising.com/dragon/76491995). Not quite sure what [White Rabbit](https://www1.flightrising.com/dragon/99350185)’s deal is. Avoids “[S.](https://www1.flightrising.com/dragon/100021925)” like the plague (but has nothing against the Plague flight).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=1&age=1&bodygene=20&body=41&winggene=20&wings=115&tertgene=18&tert=41&element=1&eyetype=3"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=41&bodygene=20&breed=1&element=1&eyetype=3&gender=1&tert=41&tertgene=18&winggene=20&wings=115&auth=a22cc9f5a0c95289c6d3ceb171d0128e5ba11bc1&dummyext=prev.png"
- id: 82316654
#  img: 
  fullnm: Kay Lin
  clr: "#8d8797"
  canon: ygbtdm
  tagline: Medic in theory. Not much in practice.
  item: mummy starter kit
  search: [shadow,obsidian,antique]
  song:
    by: seeeeecun
    nm: Unsan Moushou
    yt: https://www.youtube.com/watch?v=U43iRKuJ3CI
  dates:
    - d: 2022-11-27
      h: hatched via [nest rental](https://www1.flightrising.com/clan-profile/88381)
    - d: 2022-11-30
      g: [shell,web,okapi,bright eyes]
    - h: hibden
  txt:
    - Teasing, affable, suspiciously careless. Has been described as “a joy to have in the classroom” and “utterly exasperating.” Not sure if aimless or free-spirited; not interested in finding out.
    - Has taken a liking to [Joce](https://www1.flightrising.com/dragon/80522736) lately. Doesn’t care for [Caleb](https://www1.flightrising.com/dragon/76520385). Wary of [Fakeout](https://www1.flightrising.com/dragon/70428134) and [that one specter](https://www1.flightrising.com/dragon/100021925).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=19&gender=1&age=0&bodygene=60&body=12&winggene=61&wings=10&tertgene=0&tert=97&element=8&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=0&body=12&bodygene=60&breed=19&element=8&eyetype=0&gender=1&tert=97&tertgene=0&winggene=61&wings=10&auth=506d4e6efac053c6b9d6c680b73aa9a15e0c2523&dummyext=prev.png"
- id: 76962697
#  img: 
  fullnm: Addison
  clr: "#d5602b"
  canon: ygbtdm
  tagline: Gas keep gate-boss girl..light... yeah....
  item: chimera relic
  search: [orange,spring,lemon]
  song:
    by: Toby Fox
    nm: Dialtone
    yt: https://tobyfox.bandcamp.com/track/dialtone
  dates:
    - d: 2022-04-03
      h: received via [request](https://flightrising.com/main.php?p=lair&tab=userpage&id=297916) (thank you!)
    - d: 2022-04-20
      g: renamed (previously [i]Karma[/i])
    - h: all genes
    - d: 2022-04-20
      h: hibden
  txt:
    - Outspoken, high-strung, likes to think she means well. Thought she had what it takes to lead a clan, but the job’s more than she bargained for. Inexplicably but markedly insulted when not invited to multilevel marketplace schemes.
    - Would like [Caleb](https://www1.flightrising.com/dragon/76520385) to get a clue. Has mostly written [Joce](https://www1.flightrising.com/dragon/80522736) off but not happy about it. Deeply appreciates [White Rabbit](https://www1.flightrising.com/dragon/99350185).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=3&gender=1&age=1&bodygene=57&body=47&winggene=57&wings=40&tertgene=5&tert=42&element=3&eyetype=1"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=47&bodygene=57&breed=3&element=3&eyetype=1&gender=1&tert=42&tertgene=5&winggene=57&wings=40&auth=be7819a9eaaf790a63cf986e5a1535a0357f1566&dummyext=prev.png"
  note: |-
     [b]4/20[/b] it is stupid amusing to me that, not only was her original name [i]Karma[/i],
     but she still had a hibden cooldown by the time genes were applied,
     and thus got stuck in lair limbo. Just,,
     [b]5/17[/b] bonus points: did not actually get around to hibernating
     until multiple days after the cooldown ended, w00t 
- id: 76520385
#  img: 
  fullnm: Caleb
  clr: "#d86dc7"
  canon: ygbtdm
  tagline: Then Perish UWU
  item: glam nudibranch
  search: [pearl,rose,maize]
  song:
    by: Melanie Martinez
    nm: Cry Baby
    yt: https://www.youtube.com/watch?v=YGpydKymkIo
  dates:
    - d: 2022-03-14
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=194469)
    - d: 2022-03-20
      g: [keel,pastel]
    - h: hibden
  txt:
    - Anxious, (over)enthusiastic, local crybaby. Got ditched by his whole clan on multiple occasions and just really really really wants this round to last; can he have at least one friend? Often seen shadowing [Addison](https://www1.flightrising.com/dragon/76962697).
    - Addison’s #1 fanboy. Doesn’t get anyone else’s deal, and especially not [Kay Lin](https://www1.flightrising.com/dragon/82316654), who seems to inexplicably hate him.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=0&age=0&bodygene=20&body=85&winggene=1&wings=67&tertgene=18&tert=1&element=6&eyetype=2"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=0&body=85&bodygene=20&breed=1&element=6&eyetype=2&gender=0&tert=1&tertgene=18&winggene=1&wings=67&auth=d4c8110ac282d3a75e0fa16f1072968058d73032&dummyext=prev.png"
- id: 93121654
#  img: 
  fullnm: Gary
  clr: "#7b3c1d"
  canon: ygbtdm
  tagline: Keep it simple, s’dude.
  item: grassland grain
  search: [driftwood,auburn,umber]
  song:
    by: "Heathers: The Musical"
    nm: Big Fun
    yt: https://www.youtube.com/watch?v=2Q1p89oUQUM
  dates:
    - d: 2024-02-24
      h: found via [Auction House](https://www1.flightrising.com/clan-profile/1805) (40g)
    - d: 2024-03-07
      g: [snapper,clown,freckle,underbelly]
    - h: hibden
  txt:
    - Welcoming, easygoing, not fond of conflict. A dragon of few needs and fewer standards; you’re chill, he’s chill. Lives in a big fancy cave and throws “den parties” on the regular.
    - Often seen with [Fakeout](https://www1.flightrising.com/dragon/70428134). Would like to get to know [Joce](https://www1.flightrising.com/dragon/80522736) better; less cool with [Addison](https://www1.flightrising.com/dragon/76962697) and [Caleb](https://www1.flightrising.com/dragon/76520385), but wouldn’t complain if they wanted to hang out.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=24&gender=0&age=1&bodygene=249&body=165&winggene=249&wings=166&tertgene=227&tert=157&element=10&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=165&bodygene=249&breed=24&element=10&eyetype=0&gender=0&tert=157&tertgene=227&winggene=249&wings=166&auth=ae0fb5f3ac50c502d328b5395b6de1a0f09d4f7f&dummyext=prev.png"
- id: 70428134
#  img: 
  fullnm: “The accountant”
  clr: "#3473a4"
  canon: ygbtdm
  tagline: Not her real name, obviously.
  item: malign tools
  search: [teal,robin,abyss]
  song:
    by: Trent Reznor & Atticus Ross
    nm: Terry Time Too
    yt: https://www.youtube.com/watch?v=wRfWy8R9zPk
  dates:
    - d: 2021-06-28
      h: received via [fodder trade](https://flightrising.com/main.php?p=lair&tab=userpage&id=366176)
    - d: 2021-10-25
      g: [nocturne,lionfish,hypnotic,bright]
    - d: 2021-12-21
      h: hibden
  txt:
    - Evasive, curious, often assumed sadistic. Would get into a back-and-forth diatribe about the physiological mechanisms of exaltation, all for naught but intrigue. Travels frequently; bores easily.
    - Has a sharply-tuned memory, to the consternation of all who know her—although [Gary](https://www1.flightrising.com/dragon/93121654) and even [Joce](https://www1.flightrising.com/dragon/80522736) find it interesting, bless their naivety. Would like to ask a few questions of [Kay Lin](https://www1.flightrising.com/dragon/82316654). Inexplicably on good terms with [Sequitur](https://www1.flightrising.com/dragon/76491995).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=1&gender=1&age=1&bodygene=11&body=29&winggene=12&wings=99&tertgene=5&tert=96&element=6&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=29&bodygene=11&breed=1&element=6&eyetype=0&gender=1&tert=96&tertgene=5&winggene=12&wings=99&auth=2dda4c0ebe62318e4ea4bef546c01315b8d446c0&dummyext=prev.png"
- id: 76491995
#  img: 
  fullnm: Sequitur
  clr: "#787b82"
  canon: ygbtdm
  tagline: Letting the days go by, water flowing underground… 
  item: walrus pelt
  search: [obsidian,oilslick,sapphire]
  song:
    by: Talking Heads
    nm: Once in a Lifetime
    yt: https://www.youtube.com/watch?v=5IsSpAOD6K8
  dates:
    - d: 2022-03-13
      h: hatched via [nest rental](https://flightrising.com/main.php?p=lair&tab=userpage&id=343883)
    - d: 2022-03-25
      g: [all genes,swirl eyes,silhouette scroll]
    - h: hibden
  txt:
    - Laid-back, nonchalant, surprisingly observant. Schleps their sopping carcass around wherever seems most interesting and/or convenient. Would pay real dragon cash for proof the deities are real.
    - Was close with [White Rabbit](https://www1.flightrising.com/dragon/99350185), once upon a time. Somehow managed to get on [Fakeout](https://www1.flightrising.com/dragon/70428134)’s good side.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=14&gender=1&age=1&bodygene=23&body=10&winggene=11&wings=70&tertgene=20&tert=71&element=4&eyetype=3"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=10&bodygene=23&breed=14&element=4&eyetype=3&gender=1&tert=71&tertgene=20&winggene=11&wings=70&auth=5361efe5a0da8c919f4e7bab085a003d8707dd47&dummyext=prev.png"
- id: 99350185
#  img: 
  fullnm: “White Rabbit”
  clr: "#bf9743"
  canon: ygbtdm
  tagline: A memory.
  item: leon mask
  search: [sanddollar,honey,white]
  song:
    by: Coleman Hell
    nm: Two Heads
    yt: https://www.youtube.com/watch?v=eSYM3Z9B8Us
  dates:
    - d: 2024-11-29
      h: hatched via [nest rental](https://www1.flightrising.com/clan-profile/445467)
    - d: 2024-12-24
      g: [gaoler,piebald,breakup,gnarlhorns,dark eyes]
    - d: 2024-12-25
      h: hibden
  txt:
    - A large, silent figure. Difficult to read, but seems to mean well. Sociable enough to be known by many; private enough that no one seems to know anything beneath the surface.
    - Was close with [Sequitur](https://www1.flightrising.com/dragon/76491995) when they were both young and very different dragons.
  og-url: "https://www1.flightrising.com/scrying/predict?breed=6&gender=1&age=1&bodygene=0&body=110&winggene=0&wings=93&tertgene=0&tert=2&element=7&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=110&bodygene=0&breed=6&element=7&eyetype=0&gender=1&tert=2&tertgene=0&winggene=0&wings=93&auth=45b9540eebc92c83fafccc7438608e51e2e2e158&dummyext=prev.png"
- id: 100021925
#  img: 
  fullnm: “S.”
  clr: "#808080"
  canon: ygbtdm
  tagline: I miss you, babydoll.
  item: kelpie guise
  search: [orca,grey,orca]
  song:
    by: Mokyo
    nm: I’m an independent man
    yt: https://www.youtube.com/watch?v=Z8zyJFHMdDg
  dates:
    - d: 2024-12-28
      h: received via [fodder trade](https://www1.flightrising.com/clan-profile/98361)
    - d: 2025-02-02
      g: [veilspun,chorus,web,mop,dark eyes,silhouette scroll]
      h: "[color=red]!!link veilspun to {https://www1.flightrising.com/forums/permalink/reply/57940126}!![/color]"
    - h: hibden
  txt:
    - Languid, flirtatious, self-assured (or -absorbed, depending who you ask). Can often be found waxing poetic, neck-deep in a mire about how no one else recognizes they’re all drowning. Likes company, despite everything.
    - Only really has eyes for [Joce](https://www1.flightrising.com/dragon/80522736), among others. About equal parts amused by and disdainful of [Sequitur](https://www1.flightrising.com/dragon/76491995).
  og-url: "https://www1.flightrising.com/scrying/predict?breed=13&gender=1&age=1&bodygene=24&body=131&winggene=25&wings=6&tertgene=10&tert=131&element=2&eyetype=0"
  og-img: "https://www1.flightrising.com/dgen/preview/dragon?age=1&body=131&bodygene=24&breed=13&element=2&eyetype=0&gender=1&tert=131&tertgene=10&winggene=25&wings=6&auth=1a3dffaf16ca706019e20d36b3d472165bd6125a&dummyext=prev.png"


#- id: 
#  img: 
#  fullnm: 
#  clr: "#"
#  canon: 
#  tagline: 
#  item: 
#  search: [pri,sec,trt]
#  song: [ygbtdm only]
#    by: 
#    nm: 
#    yt: 
#  dates:
#    - d: 
#      g: []
#      h: x via [y]()
#    - d: 
#      g: []
#      h: 
#    - d: 
#      h: hibden
#  txt:
#    - LOrEM
#    - IPSUM
#  og-url: "UrL"
#  og-img: "IMG"
---
<style>
	body{padding:.5em 1em 1em; margin:0;}
	h1,h2{margin:0;}
	
	details{border:1px solid #bfbfbf;}
	summary{cursor:pointer; padding:.5em;} summary:hover{background:#efefef;}
	#dt{padding:0 1em; border-top:1px solid #bfbfbf;}
		#dt p{margin:.5em 0 1em;}
	.hl{background:yellow;}
	.ss{font-family:sans-serif; font-size:.85em;}
	ul{padding:0; margin:0 0 0 1em;}
	#dt>ul{display:inline-block; max-width:20em; word-wrap:break-word; vertical-align:top; padding:0 1em 1em 0;}
	.mono{font-family:monospace;} .mono li{margin:.15em 0;}
	.na{color:#9f9f9f;}
	.txt{margin-left:1em;}
	
	.dr{padding:.5em 1em 1em; margin:0 0 1em;}
	.dr ul{padding:.25em 0 .5em;}
	textarea{width:100%; min-height:22.75em; resize:vertical; font-family:verdana,sans-serif; font-size:12px;} /*30.5em to see more*/
</style>

<h1>automatic bio generator</h1>
<p>dates: w=what, d=date, h=how, g=genes<br>
deliberately skipped 404 (all updated manually), Redarda & Flash (outliers, also manual), and Olfnir (?????idk what he's doing still)</p>

<p><strong style="color:#ff0000;">double check all dates & links before replacing</strong>; miiiight archive the pages before pasting just to be safe?</p>

<details>
	<summary><b>it’s mini-datacheck time</b></summary>
	<div id="dt">
		<p>canon options: {%for oc in page.canons%}{{oc.canon}} (<span class="ss">{%if oc.longnm%}{{oc.longnm}}{%else%}{{oc.canon}}{%endif%}</span>){%unless forloop.last%} | {%endunless%}{%endfor%}</p>
		{%for d in page.dragons%}<ul class="mono">
			<li>ID: <a href="https://www1.flightrising.com/dragon/{{d.id}}">{{d.id}}</a></li>
			<li>img: {%if d.img%}<a href="{{d.img}}">{{d.img}}</a>{%else%}<span class="hl">[TBA]</span>{%endif%}</li>
			<li>fullnm: <b class="ss">{{d.fullnm}}</b></li>
			<li>clr: <span style="color:{{d.clr}}">{{d.clr}}</span></li>
			<li>canon: {{d.canon}}</li>
			<li>tagline: <span class="ss">{{d.tagline}}</span></li>
			<li>item: <span class="ss">{{d.item}}</span></li>
			<li>search: {%for s in d.search%}{{s}}{%unless forloop.last%},{%endunless%}{%endfor%}</li>
			<li>dates:<ul>{%for d in d.dates%}<li>
				d: {%if d.d%}{{d.d}}{%else%}<span class="na">[N/A]</span>{%endif%}<br>
				g: {%if d.g%}{%for g in d.g%}{{g}}{%unless forloop.last%},{%endunless%}{%endfor%}{%else%}<span class="na">[N/A]</span>{%endif%}<br>
				h: {%if d.h%}{{d.h}}{%else%}<span class="na">[N/A]</span>{%endif%}
			</li>{%endfor%}</ul></li>
			<li>txt:<ul>{%for t in d.txt%}
				<li>{{t}}</li>
			{%endfor%}</ul></li>
			<li>og-url: <a href="{{d.og-url}}">{{d.og-url}}</a></li>
			<li>og-img: <a href="{{d.og-img}}">{{d.og-img}}</a></li>
		</ul>{%endfor%}
	</div>
</details>

<p>years/months same as previous have to get transparent'd manually sorry. idk where to start with automating that bit<br>
other weird this-needs-a-manual-fix details should be in red</p>

{%for d in page.dragons%}<div class="dr" style="border:2px solid {{d.clr}};">
<h2>{{d.fullnm}}</h2>
<ul class="mono">
	{%capture colorfix%}][color={{d.clr}}][u]{%endcapture%}<li>colorfix: <code>{{colorfix}}</code></li>
	{%assign d-story=page.canons|where:"canon",d.canon%}<li>canon: <span class="ss">{%for oc in d-story%}{{oc.longnm}}{%endfor%}</span> (url: {%for oc in d-story%}{%if oc.url%}{{oc.url}}{%else%}{{oc.canon}}{%endif%}{%endfor%})</li>
	<li>colors: {%for c in d.search%}{{forloop.index}}: {%assign clr-id=site.data.colors|where:"nm",c%}{{c}} ({%for c-id in clr-id%}<a href="https://www1.flightrising.com/search/dragons?nocollapse=1&body={{c-id.sid}}&wings={{c-id.sid}}&tert={{c-id.sid}}">{{c-id.sid}}</a>{%endfor%}){%unless forloop.last%} | {%endunless%}{%endfor%}</li>
</ul>

<textarea>
[center]

[img alt="art by yours truly{%unless d.img%} (TBA){%endunless%}"]{{d.img}}[/img]

[size=7][b]{{d.fullnm}}[/b][/size]

{%if d.fullnm contains "Ren" or d.fullnm contains "Flynn"%}[size=5]scrapped character from[/size]
{%endif%}[size={%if d.canon=="cmyk"%}5{%else%}6{%endif%}][url=https://a-flyleaf.github.io/{%for oc in d-story%}{%if oc.url%}{{oc.url}}{%else%}{{oc.canon}}{%endif%}{%endfor%}][color={{d.clr}}][u]{%unless d.canon=="cmyk"%}[i]{%else%}“{%endunless%}{%for oc in d-story%}{{oc.longnm}}{%endfor%}{%unless d.canon=="cmyk"%}[/i]{%else%}”{%endunless%}[/u][/color][/url][/size]{%if d.canon=="cmyk"%}
[size=4][color=#808080]{%if d.id==43931583 or d.id==39708260%}(2012){%elsif d.id==58043404%}2012{%elsif d.id==80730453%}~2012{%elsif d.id==73121709%}2015{%else%}2017{%endif%}{%if d.id==58043404 or d.id==73121709%}?{%endif%}[/color][/size]{%endif%}


[size=4]{{d.tagline}}[/size][/center]



-----

[columns][center]

[item={{d.item}}]
[url=https://www1.flightrising.com/search/dragons?exalted=&body={%for c in d.search%}{%if forloop.index==1%}{%assign clr-id=site.data.colors|where:"nm",c%}{%for c-id in clr-id%}{{c-id.sid}}{%endfor%}{%endif%}{%endfor%}&wings={%for c in d.search%}{%if forloop.index==2%}{%assign clr-id=site.data.colors|where:"nm",c%}{%for c-id in clr-id%}{{c-id.sid}}{%endfor%}{%endif%}{%endfor%}&tert={%for c in d.search%}{%if forloop.index==3%}{%assign clr-id=site.data.colors|where:"nm",c%}{%for c-id in clr-id%}{{c-id.sid}}{%endfor%}{%endif%}{%endfor%}&sort=id_asc][img alt="other dragons with these colors"]https://www1.flightrising.com/static/cms/icons/66.png[/img][/url] [url=https://www1.flightrising.com/search/forums?term={{d.id}}&sort=recent][img alt="forum post mentions"]https://www1.flightrising.com/static/cms/icons/5.png[/img][/url]{%if d.song%}
[url={{d.song.yt}}][img alt="character song: {{d.song.by}}, “{{d.song.nm}}”"]https://www1.flightrising.com/static/cms/icons/125.png[/img][/url]{%endif%}[/center][nextcol]

{%for dt in d.dates%}[font=monospace]{%if dt.d%}{{dt.d|date:"%F"|replace:"-","/"}} {%else%}[color=transparent]...........[/color]{%endif%}[/font]{%for g in dt.g%}{%unless g contains "-"%}+{%endunless%}{{g}} {%endfor%}{%if dt.h=="hibden"%}[i]hibernating[/i]{%else%}{{dt.h|replace:"<br>","
[font=monospace][color=transparent]...........[/color][/font]"|markdownify|replace:'<a href="','[url='|replace:'">',colorfix|replace:'</a>','[/u][/color][/url]'|remove:"<p>"|remove:"</p>"|replace:"(","[color=#808080][size=2]("|replace:")",")[/size][/color]"}}{%endif%}{%endfor%}

[columns][font=monospace][color=transparent]..[/color][/font][nextcol][list]{%for t in d.txt%}[*]{{t|markdownify|replace:'<a href="','[url='|replace:'">',colorfix|replace:'</a>','[/u][/color][/url]'|remove:"<p>"|remove:"</p>"}}{%endfor%}[/list][/columns][/columns]

[center][url={{d.og-url}}][img alt="initially looked like"]{{d.og-img}}[/img][/url]{%if d.note%}
[size=2][color=#808080]{{d.note|markdownify|remove:'<p>'|remove:'</p>'|replace:'<a href="','[url='|replace:'">',']'|replace:'</a>','[/url]'}}[/color][/size]{%endif%}[/center]

[right][size=1][i][color=#eee]bio v3 (2025/6/25): dragonsona edition (11/12); updated 2025/8/12 | lore {%if d.canon=="ygbtdm"%}written 2021/10/16{%else%}based on notes from 2019/6/10{%endif%}[/color][/i][/size][/right]</textarea>
</div>{%endfor%}