* {margin: 0; padding: 0; word-wrap: break-word; box-sizing: border-box;}
body {font-family: Verdana,Geneva,sans-serif; font-size: .875rem; background: #000;}
a {text-decoration: none; color: #b0734f;} img {max-width: 100%; height: auto;}
::selection {background: #b0734f; color: #fff;}

h1 {color: #650000; font-size: 1.313rem;} h2 {font-weight: normal; font-size: .875rem; color: #666;}

#wrapper {max-width: 950px; margin: 0 auto; background: #dcd7c8;}

header {text-align: center; padding: .25rem; background: #b0734f;}

.navhead {font-size: 1.125rem; font-weight: bold; color: #fff; background: #650000; padding: .5rem .25rem;} .navhead img {margin-bottom: -5px; margin-right: .5rem;}
nav a {color: #650000; font-weight: bold;} nav ul {list-style-type: none; margin-left: 20px; padding: .5rem 0 .5rem 1rem;} nav li {padding: .25rem 0;} nav a:hover {text-shadow: 0 0 5px #fff;}

#main {padding: .5rem; line-height: 150%; background: #fff;} #main ul, #main ol {margin-left: 1rem;} #main li {margin: .125rem 0;} #main p {margin: 1rem 0;}

footer {font-size: .688rem; text-align: center; padding: .5rem; line-height: 175%; border-top: 5rem solid #731d08;} footer span {display: block; padding: .25rem 0;}

@media only screen and (min-width: 550px) {
  body {background: url(https://i.imgur.com/D0pNu5o.png) top center no-repeat; background-color: #000;}
  #wrapper {border: 1px solid #000;}
  header {border-bottom: 2rem solid #731d08; text-align: left;} header img {width: 25%;}
  aside, #main {display: inline-block; vertical-align: top;} aside {height: 100%; width: 25%;} #main {width: 75%;}
  aside ul {padding-right: .5rem;}
}