*{margin:0; padding:0; box-sizing:border-box; word-wrap:break-word; font-size:100%;}
header,section,footer,aside,nav,main,article,figure{display:block;}
body{overflow-x:hidden; font-size:1.25em; font-family:'alegreya sans',helvetica,'trebuchet ms',sans-serif; line-height:1.35em; color:#232323; background:#dcd6c8;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
a{color:#731d08; text-decoration:none;} a:hover,a:focus{color:#b0734f;} main a{color:#b70000;}
blockquote{margin-left:1em; color:#5c5c5c;}
.tip{background:#f2f2f2; background:linear-gradient(#e5e5e5 0, #f2f2f2 3em); border-radius:1em; padding:.5em 1em; margin:2em 0 1.5em;} .tip h2{margin-top:.5em;} .protip{color:#e5e5e5; display:block; margin-top:-1.465em; pointer-events:none;}
h2,h3,h4{margin:1em 0 .5rem;}
h2{font-size:1.25em; line-height:1.15em;}
h4{font-family:'alegreya sans sc',helvetica,'trebuchet ms',sans-serif; font-size:.85em; line-height:1.25em;}
ol,ul{margin:.5rem 0 .5rem 1rem; font-size:.95em;} li{padding-left:.25em;} main li{margin:.5em 0;} li>ol,li>ul{margin-top:-.25em; color:#5c5c5c;}
.task-list{list-style-type: none; margin-left:1em; text-indent:-1em;} .task-list input{display:inline-block; vertical-align:middle; margin-right:.5em;} .task-list li{margin:.5em 0;} .task-list ul{margin:0 0 0 1em; opacity:.75;} .task-list ul>li{margin:0;}
p{margin:.5rem 0;}
.sc{font-family:'alegreya sans sc',helvetica,'trebuchet ms',sans-serif;}
sub{font-size:.85em; display:block; line-height:1.25em; margin-top:1em;}
table{border-collapse:collapse; width:100%; font-size:.85em; line-height:1.25em; color:#5c5c5c;} th{font-family:'alegreya sans sc',helvetica,'trebuchet ms',sans-serif; padding:.5em; text-align:left; vertical-align:bottom; line-height:115%;} tbody tr:nth-child(odd){background:#f2f2f2;} td{padding:.5em; vertical-align:top;}
::selection{background:rgba(189,179,156,.5);} .protip::selection{background:0;}

#wrap{margin:0 auto; max-width:50em;}

header{text-align:center; background:#731d08; padding:1.5rem .5rem;}
#logo{display:block; color:#e8cc9f; font-family:'alegreya sans sc',helvetica,'trebuchet ms',sans-serif; font-style:italic; padding-bottom:.5rem;} #logo:hover,#logo:focus{color:#fff;}
h1{line-height:1em; color:#fff; font-size:2em;}

aside{text-align:center; font-weight:700;}
aside ul{margin:0; list-style-type:none; padding:.5em 0;}
aside li{padding:.25em 0; display:inline-block; width:50%;}

main{background:#fff; padding:1rem; padding-bottom:5em;}
main ol,ul{line-height:1.25em;}

footer{font-size:.75em; line-height:1.55em; padding:1rem; opacity:.75;}
#top{text-align:center; margin-top:-.25em;}

.genes h2{margin-top:2em;} .genes h3{text-align:center; margin:0;}
.genes table{margin:0 0 3em 0; font-size:.5em; font-size:3.25vw;} .genes thead{position:sticky; top:0; background:#fff; padding-top:.5em; z-index:100;}
.genes th:first-child,.genes td:first-child{width:5em;}
.genes th:last-child,.genes td:last-child{width:15%; text-align:center;}
.genes td:nth-child(2) a{font-weight:700;}
.genes table sub{margin:0;}
.genes table:nth-of-type(n+7){font-size:.85em;}
.genes table:nth-of-type(n+7) th:last-child{text-align:left;}
.genes table:nth-of-type(n+7) td:last-child a{font-weight:400;}
.genes table:nth-of-type(n+7) th:nth-child(2){width:1em;}
.genes table:nth-of-type(n+7) td:last-child{text-align:left; width:65%;}
.redundant{opacity:0;}

#glossary{margin:2em auto;} #glossary thead{text-transform:lowercase;} #glossary th:first-child{text-align:right;} #glossary td:first-child{font-weight:700; text-align:right;}
#glossary p{margin:0;} #glossary sub{margin:.5em 0 0;} #glossary sub p{margin:.5em 0;}
.rel a{font-weight:700;}

@media only screen and (min-width:40em){
	table{font-size:1em;}
	
	header{padding:5rem 0 .5rem; text-align:left;}
	#logo,h1{display:inline-block;}
	#logo{width:22.5%; padding-left:1rem;}
	h1{margin:0; line-height:1.25em; padding-left:1.5rem;}
	
	aside,main{display:inline-block; vertical-align:top;}
	aside{width:22.5%; text-align:left; font-size:1.25em;}
	aside ul{padding:1rem 1rem 0 1rem;}
	aside li{display:block; width:100%;}
	main{width:77.5%; padding:1rem 2rem; padding-bottom:3em;}

	footer{width:77.5%; margin-left:22.5%; padding:1rem 1rem 1rem 0;}
	#top{display:none;}
	
	.genes table{font-size:1em; max-width:30rem; margin:0 auto 2em;}
}

@media only screen and (min-width:65em){
	#logo{font-size:1.5em;}
	
	footer{text-align:center; padding:1.5em 0 2em 0;} footer span{display:block;}
	
	#glossary{width:75%;}
}