*{margin:0; padding:0; box-sizing:border-box; word-wrap:break-word; font-size:100%;}
header,section,footer,#sitenav,nav,main,article,figure{display:block;}
body{overflow-x:hidden; font-size:1.25em; font-family:'alegreya sans','trebuchet ms',helvetica,sans-serif; line-height:1.35em; color:#232323; background:#dcd6c8;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
a{color:#731d08; text-decoration:none;} a:hover,a:focus{color:#b0734f;}
blockquote{margin-left:1em; color:#5c5c5c;}
.tip{background:#f2f2f2; background:linear-gradient(#e5e5e5 0, #f2f2f2 3em); border-radius:1em; padding:.5em 1em; margin:2em 0 1.5em;} .tip h2{margin-top:.5em;} .protip{color:#e5e5e5; display:block; margin-top:-1.45em; pointer-events:none;}
h2,h3,h4{margin:1em 0 .5rem;}
h2{font-size:1.25em; line-height:1.15em;}
h4{font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif; font-size:.85em; line-height:1.25em;}
hr{border:0; height:1px; background:#bfbfbf; width:75%; margin:1.5em auto;}
ol,ul{margin:.5rem 0 .5rem 1rem; font-size:.95em;} li{padding-left:.25em;} main li{margin:.5em 0;} main li p{margin:.25em 0;} li>ol,li>ul{margin-top:-.15em; color:#5c5c5c;}
.shortlist main li{margin:.25em 0;}
.task-list{list-style-type: none; margin-left:1em; text-indent:-1.15em;} .task-list input{display:inline-block; vertical-align:middle; margin-right:.5em;} .task-list li{margin:.5em 0;} .task-list ul.task-list{margin:0 0 0 1em; opacity:.75;} .task-list ul>li{margin:0;}
p{margin:.5rem 0;}
.sc{font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif;}
sub{font-size:.85em; display:block; line-height:1.25em; margin-top:1em;}
table{border-collapse:collapse; width:100%; font-size:.85em; line-height:1.25em; color:#5c5c5c;} th{font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif; padding:.5em; text-align:left; vertical-align:bottom; line-height:115%;} tbody tr:nth-child(odd){background:#f2f2f2;} td{padding:.5em; vertical-align:top;}
::selection{background:rgba(189,179,156,.5);} .protip::selection{background:0;}

#wrap{margin:0 auto; max-width:50em;}

header{text-align:center; background:#731d08; padding:1.5rem .5rem;}
#logo{display:block; color:#e8cc9f; font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif; padding-bottom:.5rem;} #logo:hover,#logo:focus{color:#fff;}
h1{line-height:1em; color:#fff; font-size:2em;}

#sitenav{text-align:center; font-weight:700;}
#sitenav ul{margin:0; list-style-type:none; padding:.5em 0;}
#sitenav li{padding:.25em 0; display:inline-block; width:50%;}
#sitenav li>ul{display:none;}

main{background:#fff; padding:1rem; padding-bottom:5em;}
main a{color:#b70000;}
main ol,ul{line-height:1.25em;}

.pagenav{font-weight:700; margin:2rem 0; text-align:center;}
.pagenav button{display:block; border:0; background:0; font-family:inherit; font-weight:700; width:100%; padding:.25em 0; color:#5c5c5c; outline:0;}
.pagenav ul{list-style-type:none; margin:0; line-height:1em;} .pagenav li{padding:.15em 0;}
.pagenav li>ul{margin-top:.25em;}
.pagenav li>ul>li{margin:0; font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif; font-weight:400;}

footer{font-size:.75em; line-height:1.55em; padding:1rem; opacity:.75; text-align:center;}
#top{margin-top:-.25em;}

.goals ul del{opacity:.25;}
.goals table{font-size:.75em;}
.goals table:last-of-type{width:25%; float:left; margin:0 3em 1em 0;}
.goals table:last-of-type td:nth-child(n+2){text-align:center;}
.goals ul:last-of-type li{margin:.15em 0;}

.landing main ul{list-style-type:none; margin:0;}
.landing main li{background:#f2f2f2; padding:.5em 1em; border-radius:1em; margin:1em 0;}

.itemlist h2{margin-top:2em;} .itemlist h3{text-align:center; margin:0;}
.itemlist h4{text-align:center; font-family:'alegreya sans','trebuchet ms',helvetica,sans-serif; font-weight:400; font-style:italic; font-size:1em; opacity:.75;}
.itemlist table{margin:0 0 3em 0; font-size:.75em; font-size:4vw;} .itemlist thead{position:sticky; top:0; background:#fff; padding-top:.5em; z-index:100;}
.itemlist th:first-child,.itemlist td:first-child{width:5em;}
.itemlist th:last-child,.itemlist td:last-child{text-align:right;}
.itemlist td:last-child{font-family:consolas,monospace; font-size:.85em;}
.itemlist td:nth-child(2) a{font-weight:700;}
.itemlist sub{text-align:center; margin:-1.5em auto 3.5em;}
.redundant{opacity:0;}

.fest main ul{font-weight:700;}
.fest main li>ul{font-weight:400;}
.fest main li>ul>li{margin-top:.25em;}

.notn table:nth-of-type(n+4) th:last-child,.genes table:nth-of-type(n+7) th:last-child{text-align:left; width:65%;}
.notn table:nth-of-type(n+4) td,.genes table:nth-of-type(n+7) td{font-size:.85em; font-family:'alegreya sans','trebuchet ms',sans-serif; line-height:1.25em;}
.notn table:nth-of-type(n+4) td:last-child a,.genes table:nth-of-type(n+7) td:last-child a{font-weight:400;}
.notn table:nth-of-type(n+4) th:nth-child(2),.genes table:nth-of-type(n+7) th:nth-child(2){width:1em;}
.notn table:nth-of-type(n+4) td:last-child,.genes table:nth-of-type(n+7) td:last-child{text-align:left; width:65%;}
.notn table:nth-of-type(n+7) tr:first-child td{line-height:1.5em;}
.notn table:last-child td:first-child,.notn table:last-child td:last-child strong a{font-weight:700;}

.genes td:last-child{width:15%;}
.genes table sub{margin:0;}

#glossary{margin:2em auto;} #glossary thead{text-transform:lowercase;} #glossary th:first-child{text-align:right;} #glossary td:first-child{font-weight:700; text-align:right;}
#glossary p{margin:0;} #glossary sub{margin:.5em 0 0;} #glossary sub p{margin:.5em 0;}
.rel a{font-weight:700;}

.vistas h2{margin-left:.25em;}
.vistas table{margin-top:-2.15em; font-family:inherit;}
.vistas td:first-child{width:8.5em;}
.vistas td:first-child a{font-weight:700;}
.vistas table:nth-of-type(2) td:nth-child(3),.vistas table:nth-of-type(3) td:last-child{font-size:.85em;}
.vistas ol,ul{font-size:1em;}
.vistas ol{list-style-type:none; margin:0; overflow:auto; text-align:center; font-weight:700;} .vistas ol li{width:50%; float:left;}
.vistas #notable{height:1px; opacity:0;}
/*dummy edit to make the thing update*/

@media (prefers-color-scheme:dark){
	body{background:#1d1e25; color:#9494a9;}
	a,main a{color:#dee0eb;} a:hover,a:focus{color:#aec8ff;}
	blockquote{color:inherit;}
	.tip{background:#373846; background:linear-gradient(#3d3f4e 0, #373846 3em);} .protip{color:#3d3f4e;}
	hr{background:#5e5e67;}
	li>ul,li>ol{color:#9494a9;}
	.task-list input{filter:invert(65%) contrast(200%);}
	table{color:inherit;} tbody tr:nth-child(odd){background:#1d1e25;}
	::selection{background:rgba(0,0,0,.5);}
	
	header{background:#35394b;}
	h1{color:#a8acc7;}
	#logo,#sitenav a{color:#8294bd;} #logo:hover,#logo:focus,#sitenav a:hover,#sitenav a:focus{color:#c0d7ff;}
	
	main{background:#2a2b34;}
	
	.pagenav button{color:inherit;}
	
	.landing main li{background:#373846;}
	
	.itemlist thead{background:#2a2b34;}
}

@media only screen and (min-width:40em){
	table{font-size:1em;}
	
	header{padding:5rem 0 .5rem; text-align:left;}
	#logo,h1{display:inline-block;}
	#logo{width:22.5%; padding-left:1rem;}
	h1{margin:0; line-height:1.25em; padding-left:2rem; width:77.5%;}
	
	#sitenav,main{display:inline-block; vertical-align:top;}
	#sitenav{width:22.5%; text-align:left; font-size:1.25em;}
	#sitenav ul{padding:1rem 1rem 0 1rem;}
	#sitenav li{display:block; width:100%;}
	#sitenav li>ul{display:block; font-size:.85em; padding:.25em 0 0 1rem; line-height:1.15em;}
	#sitenav li>ul>li{margin:-.25em 0;}
	
	main{width:77.5%; padding:1rem 2rem; padding-bottom:3em;}
	
	.pagenav{position:fixed; left:0; bottom:0; margin:0; width:22.5%; text-align:left; padding:0 1rem; background:#dcd6c8;}
	.pagenav button{text-align:left; padding:.75em; line-height:.85em; text-indent:-.85em;}
	.pagenav button:focus,.pagenav button:hover{color:inherit; cursor:pointer; color:#b0734f;}
	.pagenav [data-expandable][aria-expanded="false"]::before{content: '▲'; font-size:.65em; vertical-align:middle; padding-right:.35em;}
	.pagenav [data-expandable][aria-expanded="true"]::before{content: '▼'; font-size:.65em; vertical-align:middle; padding-right:.35em;}
	.pagenav .expandable[aria-hidden="true"]{display: none;}
	.pagenav nav{margin-top:-.5em;}
	.pagenav li>ul{margin:.15rem 0 0 1rem;}
	.pagenav a{color:#731d08;} .pagenav a:hover{color:#b0734f;}

	footer{width:77.5%; margin-left:22.5%; padding:1.5rem 0 1rem;} footer span{display:block;} footer p{margin-top:1rem; font-family:'alegreya sans sc','trebuchet ms',helvetica,sans-serif; text-transform:lowercase;}
	#top{display:none;}
	
	.itemlist table{font-size:1em; max-width:30rem; margin:0 auto 2em;}
	.itemlist sub{width:75%;}
	
	.notn table:nth-of-type(n+4){max-width:40rem;}
	.vistas h2{text-align:center; margin-left:0;}
	.vistas table,.vistas ol{margin:0 auto; max-width:30rem;}
	.vistas table td:first-child{width:10em;}
	
	@media (prefers-color-scheme:dark){
		.pagenav{background:#1d1e25;}
		.pagenav button:focus,.pagenav button:hover{color:#aec8ff;}
		.pagenav a{color:#8294bd;} .pagenav a:hover,.pagenav a:focus{color:#aec8ff;}
	}
}

@media only screen and (min-width:63em){
	#logo{font-size:1.5em;}
	
	.pagenav{width:11.15em; left:auto; right:auto; margin-left:-16rem;}
	
	#glossary{width:75%;}
}