<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{%if page.title%}{{page.title}}| {%endif%}archaeoraptor-archive @ dragonotes</title>
	
	<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/blog1/css.css"/>
</head>

<body><a class="x" href="#skip">skip to main content</a>
	<aside><div id="sidebox">
		<h1>send faes</h1>
		<p>Yet another Flight Rising blog, property of <a href="https://flightrising.com/main.php?p=lair&tab=userpage&id=138250">Archaeoraptor</a>. Welcome to dragon hell!</p>
		<nav><ul>
			<li>Blognav</li>
			<li>Credits</li>
			<li>back to main site</li>
		</ul></nav>
	</div></aside>
	<main id="skip">{{content}}</main>
	<footer><img src="{%include url.html%}/assets/blog1/lildude.png" alt=""/></footer>
</body>