<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{%if page.title%}{{page.title}} | {%endif%}dragonotes</title>
	<link href="{%include url.html%}/assets/default.css" type="text/css" rel="stylesheet"/>
	<link href="https://a-flyleaf.github.io/assets/fonts/alegreya.css" type="text/css" rel="stylesheet"/>
</head>

<body><div id="wrap"{%if page.class%} class="{{page.class}}"{%endif%}>
	<header><a href="{%include url.html%}/v1" id="logo">dragonotes</a><h1>{{page.title}}</h1></header>
	<aside id="sitenav">
		<nav><ul><a href="#skip" class="x">Skip to content</a><li><a href="{%include url.html%}/v1/about">About</a><ul><li><a href="{%include url.html%}/about/quicklinks">Quicklinks</a></li><li><a href="{%include url.html%}/v1/about/goals">Goals</a></li><li><a href="{%include url.html%}/v1/about/badges">Badges</a></li></ul></li><li><a href="{%include url.html%}/v1/ref">Reference</a><ul><li><a href="{%include url.html%}/v1/ref/exclusive-items">Exclusive Items</a></li><li><a href="{%include url.html%}/v1/ref/specialty">Specialty Items</a></li><li><a href="{%include url.html%}/v1/ref/glossary">Glossary</a></li><li><a href="{%include url.html%}/v1/ref/guides">Guides</a></li></ul></li><!--<li><a href="{%include url.html%}/v1/lore">Lorebook</a></li>--><li><a href="{%include url.html%}/v1/credits">Credits</a></li></ul></nav>
	</aside><main id="skip">{{content}}</main>
	<footer><p id="top"><a href="#skip">back to top</a></p><span><a href="https://flightrising.com">Flight Rising</a> and all related content ©2013–{{'now'|date:"%Y"}} Stormlight Workshop, LLC.</span> <span>Site base code, writing, and (unless otherwise noted) art by <a href="https://a-flyleaf.github.io" target="_blank">a-flyleaf</a> (<a href="https://www1.flightrising.com/clan-profile/138250">Archaeoraptor</a>).</span><p><a href="{%include url.html%}/v1/credits">Credits</a></p></footer>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script>
/*!
  jQuery a11yExpandable plugin
  @name jquery.a11yExpandable.js
  @author Heydon (heydon@heydonworks.com or @heydonworks)
  @version 1.0
  @date 01/01/2013
  @category jQuery Plugin
  @copyright (c) 2015 (Heydon Pickering)
  @license Licensed under the MIT (http://www.opensource.org/licenses/mit-license.php) license.
*/

(function($){$.fn.a11yExpandable=function(){return this.each(function(){var elem=$(this);var plugin=this;elem.attr({'aria-expanded':'false','aria-controls':elem.attr('data-expandable')});var expandable=$('#'+elem.attr('data-expandable')).attr({'aria-hidden':'true','class':'expandable'});elem.on('click',function(){var expanded=$(this).attr('aria-expanded')==='false'?false:true;elem.attr('aria-expanded',!expanded);expandable.attr('aria-hidden',expanded)})})}}(jQuery));$('[data-expandable]').a11yExpandable();
</script>
</body>
</html>