<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1">
	<title>dragonotes | {{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/default3.css"/>{%if page.css%}
	<style>{{page.css}}</style>{%endif%}
</head><body>
	{{content}}
	<hr>
	<footer><a href="{%include url.html%}">← back to dragonotes index</a></footer>
</body>
</html>