<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{page.title}} | ArchaeoRising</title>
	<link href="{%include url.html%}/assets/default.css" type="text/css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400i,600|Alegreya+Sans:400,400i,700,700i" rel="stylesheet">
</head>

<body><div id="wrap" class="{{page.class}}">
	<header><a href="{%include url.html%}" id="logo">ArchaeoRising</a><h1>{{page.title}}</h1></header>
	<aside id="sitenav">{%include nav.html%}</aside><main id="skip">{{content}}</main>
	<footer><p id="top"><a href="#skip">back to top</a></p><span><a href="https://flightrising.com">Flight Rising</a> and all related content & assets ©2013–2019 Stormlight Workshop, LLC.</span> <span>Site writing, art, and code ©2019 <a href="https://a-flyleaf.github.io" target="_blank">a-flyleaf</a> (<a href="https://www1.flightrising.com/clan-profile/138250">Archaeoraptor</a>) unless <a href="{%include url.html%}/credits">otherwise noted</a>.</span></footer>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script>
/*!
  jQuery a11yExpandable plugin
  @name jquery.a11yExpandable.js
  @author Heydon (heydon@heydonworks.com or @heydonworks)
  @version 1.0
  @date 01/01/2013
  @category jQuery Plugin
  @copyright (c) 2015 (Heydon Pickering)
  @license Licensed under the MIT (http://www.opensource.org/licenses/mit-license.php) license.
*/

(function($){$.fn.a11yExpandable=function(){return this.each(function(){var elem=$(this);var plugin=this;elem.attr({'aria-expanded':'false','aria-controls':elem.attr('data-expandable')});var expandable=$('#'+elem.attr('data-expandable')).attr({'aria-hidden':'true','class':'expandable'});elem.on('click',function(){var expanded=$(this).attr('aria-expanded')==='false'?false:true;elem.attr('aria-expanded',!expanded);expandable.attr('aria-hidden',expanded)})})}}(jQuery));$('[data-expandable]').a11yExpandable();
</script>
</body>
</html>