<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>dragonotes | {{page.name}}</title>
		<link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/dragons.css"/><link rel="stylesheet" type="text/css" href="{%include url.html%}/assets/colors.css"/>
	</head>
	<body>
	{%assign who = site.data.dragons | where:"nm",page.name%}
	{%for drg in who%}
		<header id="header"><a href="{%include url.html%}">dragonotes</a></header>
		
		<hr class="nocss">
		
		<main id="main">
			<header>
				<h1>{{drg.nm}}</h1> <small id="drg-id">(#<a href="https://www1.flightrising.com/dragon/{{drg.id}}">{{drg.id}}</a>)</small>
				{%if drg.broadcast%}<div id="broadcast">{{drg.broadcast|markdownify}}</div>{%endif%}
				<div id="drg-img"{%if drg.has.scene%} class="scene"{%endif%}>
					{%if drg.has.scene%}<div id="scene" style="background-image:url({%include url.html%}/assets/img/items/{{drg.has.scene}}.png);"></div>{%endif%}
					<img src="{%include url.html%}/assets/img/dragons/{{drg.id}}_350.png" alt="{{page.name}}">
				</div>
			</header>
			
			<aside>
				<h2>stats</h2>
				<div id="drg-av"{%if drg.has.vista%} class="vista" style="background-image:url({%include url.html%}/assets/img/items/{{drg.has.vista}}.png);"{%endif%}><img src="{%include url.html%}/assets/img/dragons/{{drg.id}}-av.png" alt=""></div>
				<a href="#content">skip stats</a>
				<h3>dates</h3>
				<ul>
					<li>hatchday: {{drg.dates.hatch|date:"%B %-d, %Y"}}</li>
					{%if drg.dates.obtain%}<li>obtained: {{drg.dates.obtain|date:"%B %-d, %Y"}}</li>{%endif%}
					<li>hibernation: {{drg.dates.hibern|date:"%B %-d, %Y"}}</li>
				</ul>
				<h3>basics</h3>
				<ul>	
					<li>element: {{drg.element|capitalize}}</li>
					<li>breed: {{drg.breed|capitalize}}</li>
					<li>generation: {%if drg.gen%}1{%else%}2+{%endif%}{%if drg.nm=='Maelstrom' or drg.nm=='Lapilli'%} <small>({%if drg.nm=='Maelstrom'%}custom{%else%}random{%endif%} progen)</small>{%endif%}</li>
					<li>level: {%if drg.lvl%}{{drg.lvl}}{%if drg.stats%} <small><a href="https://www1.flightrising.com/forums/{{drg.stats.lnk}}">({{drg.stats.bld}}</a> by <a href="https://www1.flightrising.com/clan-profile/{{drg.stats.id}}">{{drg.stats.by}}</a>)</small>{%endif%}{%else%}1{%endif%}</li>
				</ul>
				<h3>size</h3>
				<ul>
					<li>length: {{drg.msr.length}} m</li>
					<li>wingspan: {{drg.msr.wings}} m</li>
					<li>weight: {{drg.msr.weight}} kg</li>
				</ul>
				<h3>genes</h3>
				<ul>
				{%assign pri=site.data.colors|where:"nm",drg.genes.pri.clr%}
				{%assign sec=site.data.colors|where:"nm",drg.genes.sec.clr%}
				{%assign tri=site.data.colors|where:"nm",drg.genes.tert.clr%}
					<li class="{%for clr in pri%}c{{clr.id}}{%endfor%}">primary: {{drg.genes.pri.clr|capitalize}} {{drg.genes.pri.gn|capitalize}}</li>
					<li class="{%for clr in sec%}c{{clr.id}}{%endfor%}">secondary: {{drg.genes.sec.clr|capitalize}} {{drg.genes.sec.gn|capitalize}}</li>
					<li class="{%for clr in tri%}c{{clr.id}}{%endfor%}">tertiary: {{drg.genes.tert.clr|capitalize}} {{drg.genes.tert.gn|capitalize}}</li>
					<li>eye type: {%if drg.genes.eye%}{{drg.genes.eye}}{%else%}Common{%endif%}</li>
				</ul>
				<h3>shown with</h3>
				{%assign acc=site.data.items|where:"id",page.accent%}
				{%assign scn=site.data.items|where:"id",page.scene%}
				{%assign vst=site.data.items|where:"id",page.vista%}
				<ul>
					{%if page.apparel%}<li>apparel:<ul>
						{%for app in page.apparel%}<li>{%assign app-info=site.data.items|where:"nm",app%}<a href="https://www1.flightrising.com/game-database/item/{%for id in app-info%}{{id.id}}{%endfor%}">{{app}}</a></li>{%endfor%}
					</ul></li>{%endif%}
					{%if page.accent%}<li>accent: {%for item in scn%}<a href="https://www1.flightrising.com/game-database/item/{{item.id}}">{{item.nm}}</a>{%endfor%}</li>{%endif%}
					{%if page.scene%}<li>scene: {%for item in scn%}<a href="https://www1.flightrising.com/game-database/item/{{item.id}}">{{item.nm}}</a>{%endfor%}</li>{%endif%}
					{%if page.vista%}<li>vista: {%for item in vst%}<a href="https://www1.flightrising.com/game-database/item/{{item.id}}">{{item.nm}}</a>{%endfor%}</li>{%endif%}
				</ul>
			</aside>
			{%if page.familiar%}
				{%assign fam=site.data.items|where:"id",page.familiar.id%}{%for fam in fam%}
				<h2>familiar</h2>
				<img src="{%include url.html%}/assets/img/items/{{fam.id}}.png" alt="{{fam.nm}}">
				<b>{%if page.familiar.nm%}{{page.familiar.nm}}</b> (<a href="https://www1.flightrising.com/game-database/item/{{fam.id}}">{{fam.nm}}</a>){%else%}<i><a href="https://www1.flightrising.com/game-database/item/{{fam.id}}">{{fam.nm}}</a></i>{%endif%}</b>
				{{page.familiar.why|markdownify}}
			{%endfor%}{%endif%}
			
			<main id="content">
				<h2>info</h2>
				{{page.content}}
			</main>
			
			{%if drg.has.art%}<section id="gallery">
				<h2>gallery</h2>
				<p><small><i>links open in new tabs</i></small></p>
				{%for art in page.art%}<figure><a href="{%include url.html%}/assets/img/art/{{art.dt}}.png" target="_blank"><img src="{%include url.html%}/assets/img/art/{{art.dt}}.png" alt=""></a><figcaption>{%if art.link%}<a href="{{art.link}}">{%endif%}{{art.dt|date:"%B %-d, %Y"}}{%if art.link%}</a>{%endif%}<br>by {%if art.by=='Archaeoraptor'%}yours truly{%else%}{{art.by}}{%endif%}</figcaption></figure>{%endfor%}
			</section>{%endif%}
			
			<footer>
				<h2>categories</h2>
				<details>
					<summary><h3>dragons by element</h3></summary>
					{%for el in site.data.elements%}
						<h4>{{el.nm}}</h4>
						{%assign el-nm=el.nm|downcase%}
						{%assign ele=site.data.dragons|where:"element",el-nm%}
						<ul>{%for drg in ele%}
							<li>{%if drg.nm==page.name%}<b>{%endif%}{{drg.nm}}{%if drg.nm==page.name%}</b>{%endif%}</li>
						{%endfor%}</ul>
					{%endfor%}
				</details>
				<details open>
					<summary><h3>dragons by breed</h3></summary>
					{%assign breeds=site.data.breeds|sort:'nm'%}
					{%for br in breeds%}
						<h4>{{br.nm|capitalize}}</h4>
						{%assign bre=site.data.dragons|where:"breed",br.nm%}
						{%if bre==empty%}[none!]{%endif%}
						<ul>{%for drg in bre%}
							<li>{%if drg.nm==page.name%}<b>{%endif%}{{drg.nm}}{%if drg.nm==page.name%}</b>{%endif%}</li>
						{%endfor%}</ul>
					{%endfor%}
				</details>
				<details>
					<summary><h3>dragons by lore affiliation</h3></summary>
					<h4>Viral Evolution</h4>
						<ul>{%for dr in site.data.dragons%}{%if dr.cat contains 'virevo'%}<li>{%if drg.nm==page.name%}<b>{%endif%}{{drg.nm}}{%if drg.nm==page.name%}</b>{%endif%}</li>{%endif%}{%endfor%}</ul>
					<h4>The Inn</h4>
						<ul>[TBA]</ul>
					<h4>wanderers/other</h4>
						<ul>[TBA]</ul>
					<h4>no lore</h4>
						<ul>[TBA]</ul>
				</details>
				other categories: <ul>
					{%if drg.age%}<li>permabab</li>{%endif%}
					{%if drg.gen%}<li>generation 1</li>{%endif%}
					{%if drg.lvl%}<li>level 25</li>{%endif%}
					<li>{%if page.art%}has{%else%}no{%endif%} art</li>
				</ul>
			</footer>
		</main>
		
		<hr class="nocss">
		
		<footer id="footer">
			<p><a href="https://www1.flightrising.com/">Flight&nbsp;Rising</a> and all related content ©&nbsp;2013–2023 Stormlight&nbsp;Workshop&nbsp;LLC.</p>
			<p>dragonotes content by, unless otherwise noted, <a href="https://a-flyleaf.github.io">a-flyleaf</a> AKA <a href="https://www1.flightrising.com/clan-profile/138250">Archaeoraptor#138250</a></p>
		</footer>
	{%endfor%}
	</body>
</html>