*{margin:0; padding:0; box-sizing:border-box; font-size:100%; word-wrap:break-word;}
.x{position:absolute; left:-999px; width:1px; height:1px; top:auto; overflow:hidden;}
body{overflow-x:hidden; background-color:#1d2224; background:url(/assets/blog1/bg-main.png) fixed; color:#1d2224; font-family:verdana,geneva,tahoma,arial,sans-serif; font-size:1.15em; line-height:1.4em;}
header,aside,main,nav,article,section,footer{display:block;}

::selection{background:#0086ce; color:#f1f3ff;}
a{color:#0086ce; text-decoration:none;} a:hover,a:active,a:focus{color:inherit;}
aside{background:url(/assets/blog1/bg-side.png); padding:1rem;}
#sidebox,article{background:#f1f3ff; margin:1em; padding:1em; border-radius:15px;}
ul{margin-left:1em;}
h1{text-transform:uppercase; font-weight:normal; font-size:2em; padding:.25em 0;}
body>main{padding:1rem;} body>footer{padding-bottom:1rem;}
h2{font-size:1.5em; margin-bottom:1rem;} h2 a{color:inherit;} h2 a:hover,h2 a:active,h2 a:focus{color:#0086ce;}
p{margin:1em 0;} main p:first-of-type{margin-top:0;} main p:last-of-type{margin-bottom:0;}
img{max-width:100%; height:auto;}

#sidebox{text-align:center;}
nav ul{list-style-type:none; margin:0;} nav ul li:last-child{font-size:.75em; margin-top:.5em;}
#fiend{text-align:center;} #fiend img{height:200px;}
article footer{font-size:.85em; margin-top:1rem;}
.date{text-align:right;}